<a href="https://colab.research.google.com/github/caroSF1/Evaluaci-n/blob/main/Espa%C3%B1a_Etapa2_Evaluaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Evaluación Etapa 2 España**
## **Carolina Solis Flores**
## **A01708072**

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
df=pd.read_csv("DatosEspaña_limpios.csv",encoding='unicode_escape')

<ipython-input-16-2242be266bff>:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("DatosEspaña_limpios.csv",encoding='unicode_escape')

**a) host_ acceptance_rate> 50%**

In [17]:
filtro1=df[df['host_acceptance_rate'] > 50]
filtro1

,Unnamed: 0,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,...,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
0,0,14551,2.02303E+13,57237,1,5,41.9965,2.83646,2,1,...,Private room,1 private bath,"[""Shared pool"", ""Refrigerator"", ""Long term sta...",42.0,t,31/03/23,08/10/10,27/02/23,HUTG-049542,f
2,2,1212820,2.02303E+13,6620645,2,3,42.11284,3.1667,4,1,...,Entire home/apt,1 bath,"[""Air conditioning"", ""Free parking on premises...",74.0,t,01/04/23,10/06/13,30/12/22,HUTG-049542,f
3,3,751638,2.02303E+13,3680160,6,6,42.36958,2.9803,2,1,...,Private room,1 private bath,"[""Hair dryer"", ""Luggage dropoff allowed"", ""Fre...",45.0,t,31/03/23,23/08/13,29/08/22,PG000794,t
5,5,751997,2.02303E+13,3387407,12,12,41.91798,3.16419,4,1,...,Entire home/apt,1 bath,"[""Air conditioning"", ""Pack ân play/Travel cr...",105.0,t,01/04/23,03/05/16,26/02/23,HUTG-016218,t
6,6,752035,2.02303E+13,3387407,12,12,41.91801,3.17085,4,2,...,Entire home/apt,1 bath,"[""Hair dryer"", ""Kitchen"", ""Iron"", ""Air conditi...",110.0,t,31/03/23,02/07/13,31/10/21,HUTG-008974,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19649,19648,858000000000000000.0,20230300000000.0,13308911,51.0,59.0,41.72036,2.92986,4,1.0,...,Entire home/apt,1 bath,"[""Hair dryer"", ""Kitchen"", ""Iron"", ""Air conditi...",107.0,t,01/04/23,23/03/23,26/03/23,HUTG-027601,t
19650,19649,858000000000000000.0,20230300000000.0,507731324,1.0,1.0,42.24504,3.12588,4,1.0,...,Entire home/apt,1 bath,"[""TV"", ""Kitchen""]",75.0,t,01/04/23,23/03/23,26/03/23,Exempt,t
19651,19650,858000000000000000.0,20230300000000.0,26281633,34.0,44.0,41.957265,3.201288,8,4.0,...,Entire home/apt,5 baths,"[""Pets allowed"", ""Smoking allowed"", ""Essentials""]",209.0,t,01/04/23,23/03/23,26/03/23,HUTG-001292,t
19652,19651,858000000000000000.0,20230300000000.0,444428600,3.0,3.0,41.69907,2.84408,4,1.0,...,Entire home/apt,1 bath,"[""Kitchen"", ""Pets allowed"", ""Washer""]",52.0,t,01/04/23,23/03/23,26/03/23,HUTG019727,t
19654,19653,858000000000000000.0,20230300000000.0,389605038,111.0,121.0,41.809375,3.05391,4,2.0,...,Entire home/apt,1 bath,"[""Refrigerator"", ""Microwave"", ""Elevator"", ""Pet...",108.0,t,01/04/23,23/03/23,26/03/23,HUTG-065236,t

In [18]:
#Convertir DataFrame a CSV
filtro1.to_csv("Etapa2_filtroa_España.csv")

In [19]:
#descargar archivo filtrado en csv
from google.colab import files 
files.download("Etapa2_filtroa_España.csv")

**b) sólo los registros con categoría "superhost"**

In [20]:
filtro2=df[df["host_is_superhost"] == "t"]
filtro2

,Unnamed: 0,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,...,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
0,0,14551,2.02303E+13,57237,1,5,41.9965,2.83646,2,1,...,Private room,1 private bath,"[""Shared pool"", ""Refrigerator"", ""Long term sta...",42.0,t,31/03/23,08/10/10,27/02/23,HUTG-049542,f
8,8,45400,2.02303E+13,201228,1,2,41.95577,3.21096,4,1,...,Entire home/apt,1 bath,"[""Hair dryer"", ""Kitchen"", ""Iron"", ""Washer"", ""E...",83.0,t,01/04/23,28/12/10,04/03/23,HUTG-015895,t
10,10,753604,2.02303E+13,3964191,7,7,41.7173,2.86409,6,3,...,Entire home/apt,1 bath,"[""Carbon monoxide alarm"", ""Free parking on pre...",195.0,t,01/04/23,08/09/13,03/09/22,LLG-000010,f
21,21,106704,2.02303E+13,553059,5,10,41.83631,2.937,5,4,...,Entire home/apt,4.5 baths,"[""Dedicated workspace"", ""Kitchen"", ""Self check...",231.0,t,01/04/23,19/07/11,31/12/22,PG-002599,f
23,23,766763,2.02303E+13,4043268,2,2,41.96041,3.22659,5,2.2,...,Entire home/apt,3 baths,"[""Carbon monoxide alarm"", ""Free parking on pre...",399.0,t,01/04/23,04/06/16,16/10/22,HUTG-043628,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19598,19597,857000000000000000.0,20230300000000.0,137859766,15.0,25.0,42.29087,3.2764,6,3.0,...,Entire home/apt,3 baths,"[""Air conditioning"", ""Free parking on premises...",341.0,t,01/04/23,23/03/23,26/03/23,HUTG-060488,t
19602,19601,856000000000000000.0,20230300000000.0,401533317,5.0,5.0,42.05427,3.20685,6,3.0,...,Entire home/apt,1.5 baths,"[""Refrigerator"", ""Microwave"", ""Safe"", ""Free st...",230.0,t,01/04/23,23/03/23,26/03/23,HUTG-059959,f
19618,19617,857000000000000000.0,20230300000000.0,225125698,19.0,19.0,42.291029,3.278916,4,2.0,...,Entire home/apt,1 bath,"[""Dedicated workspace"", ""Kitchen"", ""Air condit...",170.0,t,31/03/23,23/03/23,26/03/23,HUTG-060928,t
19629,19628,858000000000000000.0,20230300000000.0,125660503,10.0,13.0,41.78785,3.02869,6,3.0,...,Entire home/apt,2 baths,"[""Air conditioning"", ""Free parking on premises...",207.0,t,01/04/23,23/03/23,26/03/23,HUTG-067564,t
19652,19651,858000000000000000.0,20230300000000.0,444428600,3.0,3.0,41.69907,2.84408,4,1.0,...,Entire home/apt,1 bath,"[""Kitchen"", ""Pets allowed"", ""Washer""]",52.0,t,01/04/23,23/03/23,26/03/23,HUTG019727,t

In [21]:
#Convertir DataFrame a CSV
filtro2.to_csv("Etapa2_filtrob_España.csv")

In [22]:
#descargar archivo filtrado en csv
from google.colab import files 
files.download("Etapa2_filtrob_España.csv")

c) Los registros que no hallan verificado identidad " not identity_verified"

In [23]:
filtro3 = df[df["host_identity_verified"] == "f"]
filtro3

,Unnamed: 0,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,...,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
2,2,1212820,2.02303E+13,6620645,2,3,42.11284,3.1667,4,1,...,Entire home/apt,1 bath,"[""Air conditioning"", ""Free parking on premises...",74.0,t,01/04/23,10/06/13,30/12/22,HUTG-049542,f
7,7,1215790,2.02303E+13,3149645,1,1,41.84984,3.1265,7,3,...,Entire home/apt,2 baths,"[""Hair dryer"", ""Kitchen"", ""Iron"", ""Washer"", ""F...",60.0,t,01/04/23,01/07/13,18/02/18,HUTG-017955,f
9,9,1222762,2.02303E+13,6404885,1,1,42.21904,2.90744,5,3,...,Entire home/apt,2 baths,"[""Heating"", ""Kitchen"", ""Air conditioning"", ""Wa...",65.0,t,31/03/23,19/08/13,14/09/22,HUTG-012585,f
30,30,784892,2.02303E+13,4073860,1,5,42.39611,3,6,3,...,Entire home/apt,3 baths,"[""Shared pool"", ""Free parking on premises"", ""R...",100.0,t,31/03/23,11/09/15,11/09/15,PG-000599,f
33,33,1242933,2.02303E+13,6774688,1,2,41.85578,3.13043,4,2,...,Entire home/apt,1 bath,"[""Hair dryer"", ""Kitchen"", ""Iron"", ""Oven"", ""Dis...",100.0,t,01/04/23,02/08/13,29/07/19,HUTG-019098,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19554,19553,856000000000000000.0,20230300000000.0,5113430,4.0,11.0,41.81861,3.056453,4,2.0,...,Entire home/apt,1.5 baths,"[""Air conditioning"", ""Stainless steel oven"", ""...",182.0,t,01/04/23,23/03/23,26/03/23,HUTG-029538,f
19561,19560,856000000000000000.0,20230300000000.0,167394031,1.0,1.0,41.69185,2.81279,8,4.0,...,Entire home/apt,3 baths,"[""Free parking on premises"", ""Refrigerator"", ""...",134.0,t,01/04/23,23/03/23,26/03/23,HUTG002307,t
19562,19561,856000000000000000.0,20230300000000.0,450603533,30.0,30.0,42.26445,3.1793,5,2.0,...,Entire home/apt,1 bath,"[""Air conditioning"", ""Free parking on premises...",168.0,t,01/04/23,23/03/23,26/03/23,HUTG-023155,t
19612,19611,857000000000000000.0,20230300000000.0,503009347,14.0,14.0,41.7945,3.04349,7,3.0,...,Entire home/apt,2 baths,"[""Iron"", ""Ethernet connection"", ""Single level ...",161.0,t,01/04/23,23/03/23,26/03/23,HUTG-008448,t
19613,19612,857000000000000000.0,20230300000000.0,503009347,14.0,14.0,41.79446,3.04403,7,3.0,...,Entire home/apt,2 baths,"[""Iron"", ""Dishwasher"", ""Washer"", ""Bathtub"", ""H...",161.0,t,01/04/23,23/03/23,26/03/23,HUTG-008448,t

In [24]:
#Convertir DataFrame a CSV
filtro3.to_csv("Etapa2_filtroc_España.csv")

In [25]:
#descargar archivo filtrado en csv
from google.colab import files 
files.download("Etapa2_filtroc_España.csv")

d) Los registro cuyo property_type = "Private room" y "Hotel room"

In [26]:
filtro4 = df[(df["property_type"] == 'Private room') | (df["property_type"] == "Hotel room")]
filtro4

,Unnamed: 0,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,...,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
356,356,3054347,2.02303E+13,15550598,2,2,42.28732,3.27713,2,2.5,...,Private room,1 private bath,"[""Air conditioning"", ""Refrigerator"", ""Shampoo""...",109.0,t,01/04/23,16/06/14,05/11/22,HUTG-002595,f
2485,2484,14613107,2.02303E+13,38817324,1,1,42.15369,2.60122,4,1,...,Private room,1 bath,"[""Hair dryer"", ""Iron"", ""Washer"", ""Free parking...",40.0,t,01/04/23,02/10/16,15/10/17,HUTG-020720,f
3135,3134,17117682,2.02303E+13,104655629,10,10,42.1448,2.56848,2,1,...,Private room,1 private bath,"[""Pool"", ""Pets allowed"", ""Hangers"", ""Heating"",...",73.0,t,31/03/23,25/02/17,05/12/22,ATG-000023,f
7839,7838,32997174,2.02303E+13,248354355,1,3,42.15973,2.91132,2,1,...,Private room,1 bath,"[""Sanex body soap"", ""Microwave"", ""First aid ki...",40.0,t,31/03/23,16/08/20,22/08/22,Exempt,f
16666,16665,658000000000000000.0,20230300000000.0,466301894,1.0,1.0,41.72831,2.919324,2,1.0,...,Private room,1.5 baths,"[""Carbon monoxide alarm"", ""Refrigerator"", ""Lon...",50.0,t,01/04/23,17/07/22,22/07/22,HUTB-123456,t
17058,17057,687000000000000000.0,20230300000000.0,104927492,1.0,5.0,42.18328,2.88674,2,1.0,...,Private room,1 private bath,"[""Free parking on premises"", ""Shared outdoor p...",120.0,t,31/03/23,04/12/22,12/03/23,Exempt,f
19023,19022,841000000000000000.0,20230300000000.0,162348326,2.0,2.0,42.30333,3.0,2,1.0,...,Private room,1 private bath,"[""Clothing storage: walk-in closet"", ""Pack â...",80.0,t,01/04/23,20/03/23,20/03/23,Exempt,t

In [27]:
#Convertir DataFrame a CSV
filtro4.to_csv("Etapa2_filtrod_España.csv")

In [28]:
#descargar archivo filtrado en csv
from google.colab import files 
files.download("Etapa2_filtrod_España.csv")

e) Los registros que cuenten con bathroom > 1

In [29]:
filtro5= df[~(df["bathrooms_text"] == '1 bath')  & ~(df["bathrooms_text"] == "1 private bath")]
filtro5

,Unnamed: 0,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,...,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
1,1,1205757,2.02303E+13,6586355,1,1,41.79304,2.77412,2,1,...,Private room,1.5 shared baths,"[""Free parking on premises"", ""Refrigerator"", ""...",47.0,t,31/03/23,01/08/13,26/06/22,HUTG-049542,f
7,7,1215790,2.02303E+13,3149645,1,1,41.84984,3.1265,7,3,...,Entire home/apt,2 baths,"[""Hair dryer"", ""Kitchen"", ""Iron"", ""Washer"", ""F...",60.0,t,01/04/23,01/07/13,18/02/18,HUTG-017955,f
9,9,1222762,2.02303E+13,6404885,1,1,42.21904,2.90744,5,3,...,Entire home/apt,2 baths,"[""Heating"", ""Kitchen"", ""Air conditioning"", ""Wa...",65.0,t,31/03/23,19/08/13,14/09/22,HUTG-012585,f
11,11,48764,2.02303E+13,220145,1,2,42.17605,3.03974,8,4,...,Entire home/apt,2 baths,"[""Refrigerator"", ""Long term stays allowed"", ""S...",120.0,t,31/03/23,04/06/11,13/08/22,HUTG-000207,f
14,14,1228453,2.02303E+13,6623729,1,1,42.24287,3.20562,5,2,...,Entire home/apt,2 baths,"[""Beach essentials"", ""Board games"", ""Carbon mo...",114.0,t,01/04/23,12/05/18,01/01/23,HUTG-031144,t
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19642,19641,858000000000000000.0,20230300000000.0,173153149,51.0,74.0,41.701663,2.870586,6,3.0,...,Entire home/apt,3 baths,"[""Air conditioning"", ""Refrigerator"", ""Microwav...",440.0,t,01/04/23,23/03/23,26/03/23,HUTG-023596,t
19643,19642,858000000000000000.0,20230300000000.0,507641932,1.0,1.0,42.1817,3.10666,8,4.0,...,Entire home/apt,4 baths,"[""Air conditioning"", ""Carbon monoxide alarm"", ...",450.0,t,01/04/23,23/03/23,26/03/23,HUTB-449108,f
19644,19643,858000000000000000.0,20230300000000.0,419014196,1.0,2.0,42.366939,3.161534,5,2.0,...,Entire home/apt,2.5 baths,"[""Air conditioning"", ""Beach essentials"", ""Boar...",100.0,t,01/04/23,23/03/23,26/03/23,Exempt,f
19648,19647,858000000000000000.0,20230300000000.0,497533696,25.0,26.0,41.99906,3.19485,5,3.0,...,Entire home/apt,2 baths,"[""Air conditioning"", ""Refrigerator"", ""Microwav...",136.0,t,01/04/23,23/03/23,26/03/23,HUTG-037880,t
19651,19650,858000000000000000.0,20230300000000.0,26281633,34.0,44.0,41.957265,3.201288,8,4.0,...,Entire home/apt,5 baths,"[""Pets allowed"", ""Smoking allowed"", ""Essentials""]",209.0,t,01/04/23,23/03/23,26/03/23,HUTG-001292,t

In [30]:
#Convertir DataFrame a CSV
filtro5.to_csv("Etapa2_filtroe_España.csv")

In [31]:
#descargar archivo filtrado en csv
from google.colab import files 
files.download("Etapa2_filtroe_España.csv")

f) Los registros cuyo precio sea mayor de $10,000 y que sean de tipo "Entire home"

In [32]:
filtro6 = df[(df["price"] > 10000) & (df["room_type"] == "Entire home/apt")]
filtro6

,Unnamed: 0,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,...,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
753,753,4682669,2.02303E+13,24213114,2,2,42.053955,3.162875,5,2.2,...,Entire home/apt,8 baths,"[""Beach essentials"", ""Board games"", ""Free park...",12986.0,t,01/04/23,28/12/15,26/12/22,PG-000878,f
1841,1840,11716662,2.02303E+13,10222076,1,1,41.89213,3.1846,4,3,...,Entire home/apt,1.5 baths,"[""Changing table"", ""Fireplace guards"", ""Pack â...",14500.0,t,01/04/23,14/07/16,28/08/22,HUTG-043827,f
3372,3371,17726281,2.02303E+13,120856433,1,1,42.05615,2.64295,6,3,...,Entire home/apt,1 bath,"[""Air conditioning"", ""Free parking on premises...",12977.0,t,31/03/23,05/04/17,12/03/23,HUTG-025778,f
3932,3931,18928661,2.02303E+13,129837136,28,73,41.84915,3.05936,6,3,...,Entire home/apt,2 baths,"[""Sound system"", ""Refrigerator"", ""Valley view""...",20000.0,t,01/04/23,23/05/18,01/11/22,HUTG-008573,t
3949,3948,18928673,2.02303E+13,129837136,28,73,41.85659,3.04899,9,4,...,Entire home/apt,3.5 baths,"[""Sound system"", ""Refrigerator"", ""Microwave"", ...",20000.0,t,01/04/23,28/05/17,12/03/23,HUTG-008208,t
6633,6632,26118654,2.02303E+13,122175936,27.9,34.7,42.28924,3.17472,8,4,...,Entire home/apt,3 baths,"[""Dedicated workspace"", ""Kitchen"", ""Air condit...",16380.0,t,01/04/23,30/06/18,30/07/22,HUTG-013538,t
6651,6650,26146284,2.02303E+13,122175936,27.9,34.7,42.29,3.17656,5,2.2,...,Entire home/apt,4 baths,"[""Dedicated workspace"", ""Kitchen"", ""Air condit...",16380.0,t,01/04/23,29/08/20,29/08/20,HUTG-013538,t
7148,7147,28483889,2.02303E+13,122175936,27.9,34.7,42.28965,3.17508,4,2,...,Entire home/apt,1 bath,"[""Dedicated workspace"", ""Kitchen"", ""Air condit...",16380.0,t,01/04/23,02/01/19,22/03/23,HUTG-013538,t
7542,7541,31969327,2.02303E+13,129837136,28,73,41.86232,3.07854,8,4,...,Entire home/apt,3 baths,"[""Harbor view"", ""Refrigerator"", ""Valley view"",...",20000.0,t,01/04/23,10/06/19,19/08/22,HUTG-029082,t
9978,9977,41784831.0,20230300000000.0,270230553,27.9,34.7,42.1936,3.02802,8,4.0,...,Entire home/apt,3 baths,"[""Air conditioning"", ""Refrigerator"", ""Microwav...",15960.0,t,31/03/23,28/06/20,05/09/21,HUTG/028780,t

In [33]:
#Convertir DataFrame a CSV
filtro6.to_csv("Etapa2_filtrof_España.csv")

In [34]:
#descargar archivo filtrado en csv
from google.colab import files 
files.download("Etapa2_filtrof_España.csv")

g) Los registros cuyo review_scores_cleanliness > 4.5

In [35]:
filtro7 = df[df['review_scores_cleanliness'] > 4.5]
filtro7

,Unnamed: 0,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,...,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
0,0,14551,2.02303E+13,57237,1,5,41.9965,2.83646,2,1,...,Private room,1 private bath,"[""Shared pool"", ""Refrigerator"", ""Long term sta...",42.0,t,31/03/23,08/10/10,27/02/23,HUTG-049542,f
1,1,1205757,2.02303E+13,6586355,1,1,41.79304,2.77412,2,1,...,Private room,1.5 shared baths,"[""Free parking on premises"", ""Refrigerator"", ""...",47.0,t,31/03/23,01/08/13,26/06/22,HUTG-049542,f
4,4,41342,2.02303E+13,180072,2,3,42.34655,3.20463,4,1,...,Entire home/apt,1 bath,"[""Free parking on premises"", ""Refrigerator"", ""...",120.0,t,01/04/23,14/07/13,28/08/21,HUTG-003688,f
5,5,751997,2.02303E+13,3387407,12,12,41.91798,3.16419,4,1,...,Entire home/apt,1 bath,"[""Air conditioning"", ""Pack ân play/Travel cr...",105.0,t,01/04/23,03/05/16,26/02/23,HUTG-016218,t
6,6,752035,2.02303E+13,3387407,12,12,41.91801,3.17085,4,2,...,Entire home/apt,1 bath,"[""Hair dryer"", ""Kitchen"", ""Iron"", ""Air conditi...",110.0,t,31/03/23,02/07/13,31/10/21,HUTG-008974,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18986,18985,843000000000000000.0,20230300000000.0,3205684,1.0,1.0,41.69662,2.82711,2,1.0,...,Entire home/apt,1 bath,"[""Kitchen"", ""Air conditioning"", ""Shared pool"",...",60.0,t,01/04/23,26/03/23,26/03/23,HUTG-020973,t
19002,19001,841000000000000000.0,20230300000000.0,192741333,1.0,1.0,41.72051,2.93222,4,1.0,...,Entire home/apt,1 bath,"[""Stainless steel oven"", ""Refrigerator"", ""Outd...",106.0,t,01/04/23,20/03/23,20/03/23,HUTG-048774,t
19047,19046,842000000000000000.0,20230300000000.0,253595964,2.0,2.0,42.252803,3.105931,4,1.0,...,Entire home/apt,1 bath,"[""Carbon monoxide alarm"", ""Free parking on pre...",59.0,t,01/04/23,26/03/23,26/03/23,Exempt,t
19078,19077,842000000000000000.0,20230300000000.0,38726312,2.0,2.0,42.24757,3.10449,2,1.0,...,Private room,1 shared bath,"[""Hair dryer"", ""Dedicated workspace"", ""Air con...",39.0,t,01/04/23,15/03/23,15/03/23,HUTG-047773,f
19203,19202,843000000000000000.0,20230300000000.0,121671158,1.0,3.0,42.246529,3.127426,4,1.0,...,Entire home/apt,1 bath,"[""Central air conditioning"", ""Refrigerator"", ""...",80.0,t,01/04/23,12/03/23,17/03/23,HUTG-027175,f

In [36]:
#Convertir DataFrame a CSV
filtro7.to_csv("Etapa2_filtrog_España.csv")

In [37]:
#descargar archivo filtrado en csv
from google.colab import files 
files.download("Etapa2_filtrog_España.csv")

h) Los registros cuyo review_scores_value > 4.9

In [38]:
filtro8 = df[df['review_scores_value'] > 4.9]
filtro8

,Unnamed: 0,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,...,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
22,22,1234785,2.02303E+13,6732502,2,2,41.95188,3.20297,6,3,...,Entire home/apt,2.5 baths,"[""Shared pool"", ""Free parking on premises"", ""R...",335.0,t,01/04/23,30/08/21,25/08/22,HUTG-026895,f
26,26,774371,2.02303E+13,4085536,2,2,41.84428,3.10006,5,2,...,Entire home/apt,2 baths,"[""Central air conditioning"", ""Refrigerator"", ""...",60.0,t,01/04/23,22/01/17,10/09/22,HUTG-014853,f
40,40,1250062,2.02303E+13,6811852,1,1,41.82205,3.06874,8,4,...,Entire home/apt,2.5 baths,"[""Shared pool"", ""Courtyard view"", ""Free parkin...",303.0,t,01/04/23,03/08/21,21/07/22,HUTG-025234,f
43,43,809136,2.02303E+13,4208003,35,72,42.10369,3.0823,4,2,...,Entire home/apt,1 bath,"[""Air conditioning"", ""Refrigerator"", ""Microwav...",108.0,t,31/03/23,09/04/15,01/06/19,HUTG-001370,t
53,53,1262051,2.02303E+13,6595329,7,7,42.20932,2.73697,4,1,...,Entire home/apt,1 bath,"[""Hair dryer"", ""Kitchen"", ""Iron"", ""Air conditi...",73.0,t,31/03/23,01/05/16,04/11/18,ATG-000053,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19039,19038,841000000000000000.0,20230300000000.0,232395755,2.0,3.0,42.340474,3.0,2,1.0,...,Entire home/apt,1 bath,"[""Free parking on premises"", ""Refrigerator"", ""...",70.0,t,31/03/23,26/03/23,26/03/23,HUTG-063362,f
19047,19046,842000000000000000.0,20230300000000.0,253595964,2.0,2.0,42.252803,3.105931,4,1.0,...,Entire home/apt,1 bath,"[""Carbon monoxide alarm"", ""Free parking on pre...",59.0,t,01/04/23,26/03/23,26/03/23,Exempt,t
19078,19077,842000000000000000.0,20230300000000.0,38726312,2.0,2.0,42.24757,3.10449,2,1.0,...,Private room,1 shared bath,"[""Hair dryer"", ""Dedicated workspace"", ""Air con...",39.0,t,01/04/23,15/03/23,15/03/23,HUTG-047773,f
19203,19202,843000000000000000.0,20230300000000.0,121671158,1.0,3.0,42.246529,3.127426,4,1.0,...,Entire home/apt,1 bath,"[""Central air conditioning"", ""Refrigerator"", ""...",80.0,t,01/04/23,12/03/23,17/03/23,HUTG-027175,f
19468,19467,850000000000000000.0,20230300000000.0,505978243,1.0,1.0,41.974072,2.789637,3,1.0,...,Private room,1 shared bath,"[""Dedicated workspace"", ""Mountain view"", ""Iron...",22.0,t,01/04/23,23/03/23,26/03/23,HUTS-201920,t

In [39]:
#Convertir DataFrame a CSV
filtro8.to_csv("Etapa2_filtroh_España.csv")

In [40]:
#descargar archivo filtrado en csv
from google.colab import files 
files.download("Etapa2_filtroh_España.csv")

i) Los registros cuya availability_365<100

In [50]:
df['availability_365'].unique()

array(['293', '282', '315', '248', '0', '278', '336', '56', '288', '363',
       '165', '28', '247', '213', '84', '245', '196', '242', '314', '10',
       '217', '134', '1', '275', '358', '227', '341', '191', '159', '255',
       '263', '311', '321', '313', '365', '94', '121', '47', '251', '322',
       '144', '231', '334', '219', '330', '9', '141', '353', '212', '351',
       '136', '357', '298', '323', '88', '185', '274', '237', '51', '209',
       '201', '333', '285', '326', '179', '310', '180', '143', '229',
       '90', '304', '86', '259', '338', '25', '319', '318', '69', '216',
       '123', '290', '107', '332', '283', '139', '343', '157', '156',
       '295', '305', '301', '230', '203', '302', '350', '200', '346',
       '29', '118', '279', '135', '316', '125', '76', '281', '80', '271',
       '210', '286', '232', '198', '364', '77', '70', '91', '289', '317',
       '178', '239', '296', '292', '309', '325', '154', '194', '172',
       '182', '362', '188', '122', '236', '342', '307', '102', '174',
       '260', '299', '114', '147', '146', '211', '270', '199', '226',
       '192', '354', '65', '72', '87', '207', '337', '46', '120', '137',
       '67', '284', '257', '306', '243', '89', '327', '287', '170', '261',
       '171', '266', '349', '152', '355', '189', '103', '214', '129',
       '234', '167', '272', '27', '324', '252', '328', '175', '19', '79',
       '276', '38', '356', '161', '277', '100', '164', '308', '83', '181',
       '183', '92', '82', '53', '204', '187', '155', '246', '262', '15',
       '280', '269', '249', '35', '208', '148', '153', '344', '256',
       '300', '240', '320', '95', '42', '151', '132', '50', '267', '105',
       '128', '233', '360', '218', '244', '31', '335', '331', '225',
       '264', '124', '110', '193', '45', '173', '166', '265', '101', '57',
       '73', '345', '140', '130', '41', '34', '340', '347', '184', '44',
       '113', '205', '109', '119', '348', '223', '85', '13', '43', '202',
       '14', '99', '127', '215', '149', '163', '24', '54', '4', '36',
       '312', '75', '250', '177', '238', '297', '352', '116', '361', '16',
       '329', '169', '138', '93', '96', '222', '126', '78', '131', '254',
       '190', '63', '52', '303', '17', '106', '8', '268', '74', '81',
       '12', '176', '241', '21', '186', '253', '133', '273', '64', '162',
       '98', '145', '195', '60', '61', '40', '291', '6', '58', '59', '32',
       '97', '294', '258', '150', '224', '111', '30', '7', '112', '62',
       '18', '115', '158', '104', '23', '206', 'HUTG000237', '37', '359',
       '142', '339', '228', '71', '117', '68', '48', '221', '108', '5',
       '20', '33', '2', '160', '220', '22', '11', '55', '49', '66', '235',
       '26', '3', '168', '39', '197', 44, 31, 175, 140, 224, 176, 0, 300,
       86, 39, 259, 334, 116, 134, 280, 162, 358, 159, 152, 51, 266, 65,
       343, 183, 103, 268, 94, 215, 173, 161, 169, 251, 287, 363, 87, 364,
       6, 53, 59, 81, 89, 196, 270, 126, 293, 185, 344, 234, 29, 174, 246,
       320, 178, 99, 304, 144, 56, 250, 257, 22, 108, 333, 158, 164, 349,
       142, 330, 328, 113, 365, 137, 307, 311, 255, 348, 253, 360, 104,
       114, 97, 182, 299, 211, 245, 308, 170, 321, 213, 297, 16, 50, 172,
       98, 27, 359, 72, 42, 115, 240, 155, 191, 194, 165, 237, 7, 289, 90,
       243, 46, 258, 219, 57, 338, 286, 267, 79, 294, 88, 318, 212, 35,
       70, 28, 14, 124, 41, 309, 74, 157, 67, 241, 323, 83, 93, 325, 154,
       123, 273, 26, 226, 110, 136, 326, 331, 336, 119, 352, 92, 91, 32,
       252, 153, 84, 75, 260, 143, 316, 122, 17, 342, 189, 357, 156, 117,
       45, 149, 38, 63, 332, 78, 203, 133, 179, 274, 151, 227, 261, 265,
       177, 135, 362, 278, 272, 347, 145, 71, 353, 118, 264, 322, 314,
       180, 232, 160, 43, 231, 302, 197, 168, 181, 95, 105, 121, 244, 206,
       222, 62, 236, 208, 230, 337, 335, 147, 200, 285, 166, 55, 73, 204,
       167, 327, 305, 249, 329, 10, 193, 5, 313, 49, 275, 61, 25, 60, 24,
       76, 11, 205, 301, 290, 319, 235, 292, 356, 282, 351, 21, 30, 15,
       102, 281, 220, 324, 221, 317, 150, 339, 254, 77, 248, 283, 40, 242,
       279, 210, 109, 223, 171, 141, 148, 350, 131, 217, 201, 37, 68, 216,
       296, 82, 130, 239, 291, 312, 263, 120, 1, 36, 188, 303, 163, 80,
       13, 195, 346, 47, 106, 355, 101, 20, 276, 345, 184, 247, 107, 48,
       233, 33, 54, 111, 214, 341, 229, 8, 202, 228, 277, 225, 112, 64,
       269, 207, 256, 354, 69, 127, 187, 238, 132, 295, 100, 18, 306, 52,
       186, 192, 66, 262, 288, 361, 138, 146, 129, 96, 199, 23, 271, 198,
       3, 190, 139, 128, 209, 284, 298, 310, 85, 19, 58, 340, 218, 34, 12,
       315, 4, 125, 2, 9], dtype=object)

In [55]:
df.availability_365 = df.availability_365.astype(int)

In [54]:
df.availability_365 = df.availability_365.replace({'HUTG000237':'71'}, regex=False)

In [56]:
filtro9=df[df['availability_365'] <100]
filtro9

,Unnamed: 0,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,...,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
4,4,41342,2.02303E+13,180072,2,3,42.34655,3.20463,4,1,...,Entire home/apt,1 bath,"[""Free parking on premises"", ""Refrigerator"", ""...",120.0,t,01/04/23,14/07/13,28/08/21,HUTG-003688,f
7,7,1215790,2.02303E+13,3149645,1,1,41.84984,3.1265,7,3,...,Entire home/apt,2 baths,"[""Hair dryer"", ""Kitchen"", ""Iron"", ""Washer"", ""F...",60.0,t,01/04/23,01/07/13,18/02/18,HUTG-017955,f
11,11,48764,2.02303E+13,220145,1,2,42.17605,3.03974,8,4,...,Entire home/apt,2 baths,"[""Refrigerator"", ""Long term stays allowed"", ""S...",120.0,t,31/03/23,04/06/11,13/08/22,HUTG-000207,f
15,15,93343,2.02303E+13,477826,4,6,42.10405,3.14936,7,3,...,Entire home/apt,2 baths,"[""Air conditioning"", ""Free parking on premises...",173.0,t,01/04/23,12/05/18,01/01/23,HUTG-001447,f
20,20,1234784,2.02303E+13,6732502,2,2,41.95156,3.20217,2,1,...,Private room,1 private bath,"[""Shared pool"", ""Shampoo"", ""Host greets you"", ...",80.0,t,01/04/23,08/07/13,13/06/21,HUTG-026895,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19628,19627,858000000000000000.0,20230300000000.0,127955218,79.0,142.0,41.866532,3.069004,6,3.0,...,Entire home/apt,3 baths,"[""Air conditioning"", ""Refrigerator"", ""Bidet"", ...",362.0,t,31/03/23,23/03/23,26/03/23,HUTG-036943,t
19633,19632,858000000000000000.0,20230300000000.0,127955218,79.0,142.0,41.779129,3.028061,6,3.0,...,Entire home/apt,2 baths,"[""Air conditioning"", ""Free parking on premises...",349.0,t,01/04/23,23/03/23,26/03/23,HUTG-000001,t
19635,19634,858000000000000000.0,20230300000000.0,21668566,69.0,72.0,42.357181,3.167029,4,2.0,...,Entire home/apt,1 bath,"[""Air conditioning"", ""Free parking on premises...",108.0,t,01/04/23,23/03/23,26/03/23,HUTG-068543,t
19639,19638,858000000000000000.0,20230300000000.0,461023346,10.0,10.0,41.973,3.17423,6,3.0,...,Entire home/apt,2 baths,"[""Mountain view"", ""Kitchen"", ""Washer"", ""BBQ gr...",160.0,t,01/04/23,23/03/23,26/03/23,HUTG-006876,f
19655,19654,858000000000000000.0,20230300000000.0,491503593,9.0,11.0,41.810169,3.066358,5,3.0,...,Entire home/apt,1 bath,"[""Kitchen"", ""Washer"", ""Clothing storage"", ""Dis...",73.0,t,01/04/23,23/03/23,26/03/23,HUTG-051787,f

In [57]:
#Convertir DataFrame a CSV
filtro9.to_csv("Etapa2_filtroi_EUA.csv")

In [58]:
#descargar archivo filtrado en csv
from google.colab import files 
files.download("Etapa2_filtroi_EUA.csv")

j) Los registros cuya host_ response_time sea "within an hour"

In [44]:
filtro10 = df[df["host_response_time"] == "within an hour"]
filtro10

,Unnamed: 0,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,...,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
0,0,14551,2.02303E+13,57237,1,5,41.9965,2.83646,2,1,...,Private room,1 private bath,"[""Shared pool"", ""Refrigerator"", ""Long term sta...",42.0,t,31/03/23,08/10/10,27/02/23,HUTG-049542,f
5,5,751997,2.02303E+13,3387407,12,12,41.91798,3.16419,4,1,...,Entire home/apt,1 bath,"[""Air conditioning"", ""Pack ân play/Travel cr...",105.0,t,01/04/23,03/05/16,26/02/23,HUTG-016218,t
6,6,752035,2.02303E+13,3387407,12,12,41.91801,3.17085,4,2,...,Entire home/apt,1 bath,"[""Hair dryer"", ""Kitchen"", ""Iron"", ""Air conditi...",110.0,t,31/03/23,02/07/13,31/10/21,HUTG-008974,f
7,7,1215790,2.02303E+13,3149645,1,1,41.84984,3.1265,7,3,...,Entire home/apt,2 baths,"[""Hair dryer"", ""Kitchen"", ""Iron"", ""Washer"", ""F...",60.0,t,01/04/23,01/07/13,18/02/18,HUTG-017955,f
8,8,45400,2.02303E+13,201228,1,2,41.95577,3.21096,4,1,...,Entire home/apt,1 bath,"[""Hair dryer"", ""Kitchen"", ""Iron"", ""Washer"", ""E...",83.0,t,01/04/23,28/12/10,04/03/23,HUTG-015895,t
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19649,19648,858000000000000000.0,20230300000000.0,13308911,51.0,59.0,41.72036,2.92986,4,1.0,...,Entire home/apt,1 bath,"[""Hair dryer"", ""Kitchen"", ""Iron"", ""Air conditi...",107.0,t,01/04/23,23/03/23,26/03/23,HUTG-027601,t
19650,19649,858000000000000000.0,20230300000000.0,507731324,1.0,1.0,42.24504,3.12588,4,1.0,...,Entire home/apt,1 bath,"[""TV"", ""Kitchen""]",75.0,t,01/04/23,23/03/23,26/03/23,Exempt,t
19651,19650,858000000000000000.0,20230300000000.0,26281633,34.0,44.0,41.957265,3.201288,8,4.0,...,Entire home/apt,5 baths,"[""Pets allowed"", ""Smoking allowed"", ""Essentials""]",209.0,t,01/04/23,23/03/23,26/03/23,HUTG-001292,t
19652,19651,858000000000000000.0,20230300000000.0,444428600,3.0,3.0,41.69907,2.84408,4,1.0,...,Entire home/apt,1 bath,"[""Kitchen"", ""Pets allowed"", ""Washer""]",52.0,t,01/04/23,23/03/23,26/03/23,HUTG019727,t
19654,19653,858000000000000000.0,20230300000000.0,389605038,111.0,121.0,41.809375,3.05391,4,2.0,...,Entire home/apt,1 bath,"[""Refrigerator"", ""Microwave"", ""Elevator"", ""Pet...",108.0,t,01/04/23,23/03/23,26/03/23,HUTG-065236,t

In [45]:
#Convertir DataFrame a CSV
filtro10.to_csv("Etapa2_filtroj_España.csv")

In [46]:
#descargar archivo filtrado en csv
from google.colab import files 
files.download("Etapa2_filtroj_España.csv")