<a href="https://colab.research.google.com/github/caroSF1/Evaluaci-n/blob/main/Evaluaci%C3%B3n_Etapa1_Espa%C3%B1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Evaluación**
## **Carolina Solis Flores**
## **A01708072**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [ ]:
#Carga desde un archivo .xlsx sin indice
df=pd.read_csv('Girona_España.csv',encoding='unicode_escape')

## **Etapa 1: Preprocesamientos de datos**

**Valores Nulos**

In [ ]:
df.head(2)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,14551.0,https://www.airbnb.com/rooms/14551,2.023030e+13,31/03/2023,city scrape,Cozy & Colorful by Nature (Private Room),Up in the hill of MontjuÃ¯c (a mountain overlo...,MontjuÃ¯c is most likely the best neighborhood...,https://a0.muscache.com/pictures/16209908/f1fe...,57237,...,4.91,4.63,4.74,HUTG-049542,f,1,0,1,0,0.37
1,1205757.0,https://www.airbnb.com/rooms/1205757,2.023030e+13,31/03/2023,city scrape,HabitaciÃ³n doble + baÃ±o y terraza,<b>The space</b><br />HabitaciÃ³n confortable ...,Bonitas playas a 15 minutos en coche. Piscina ...,https://a0.muscache.com/pictures/02e0a61e-078e...,6586355,...,4.91,4.69,4.80,NaN,f,1,0,1,0,0.51

In [ ]:
valores_nulos=df.isnull().sum()
valores_nulos

id                                                 0
listing_url                                        0
scrape_id                                          0
last_scraped                                       0
source                                             0
                                                ...
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               5227
Length: 75, dtype: int64

In [ ]:
dfnum = df.select_dtypes(include = ["number"])
dfobj = df.select_dtypes(include = ["object"])

In [ ]:
valores_nulos=dfnum.isnull().sum()
valores_nulos

id                                                  0
scrape_id                                           0
host_id                                             0
host_listings_count                               117
host_total_listings_count                         117
neighbourhood_group_cleansed                    19655
latitude                                            0
longitude                                           0
accommodates                                        0
bathrooms                                       19655
bedrooms                                          503
beds                                               93
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              1
maximum_minimum_nights                              1
minimum_maximum_nights                              1
maximum_maximum_nights                              1
minimum_nights_avg_ntm                              1
maximum_nights_avg_ntm                              1
calendar_updated                                19655
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
review_scores_rating                             5227
review_scores_accuracy                           5285
review_scores_cleanliness                        5283
review_scores_checkin                            5284
review_scores_communication                      5285
review_scores_location                           5284
review_scores_value                              5285
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                5227
dtype: int64

In [ ]:
#Se sustituye los valores por el promedio pues medida de tendencia central más utilizada y nos permite tener un termino medio de los datos
dfnum=dfnum.fillna(round(dfnum.mean(),1))
dfnum

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1.455100e+04,2.023030e+13,57237,1.0,5.0,NaN,41.996500,2.836460,2,NaN,...,4.94,4.89,4.91,4.63,4.74,1,0,1,0,0.37
1,1.205757e+06,2.023030e+13,6586355,1.0,1.0,NaN,41.793040,2.774120,2,NaN,...,4.85,4.85,4.91,4.69,4.80,1,0,1,0,0.51
2,1.212820e+06,2.023030e+13,6620645,2.0,3.0,NaN,42.112840,3.166700,4,NaN,...,4.31,4.81,4.76,4.74,4.32,2,2,0,0,0.62
3,7.516380e+05,2.023030e+13,3680160,6.0,6.0,NaN,42.369580,2.980300,2,NaN,...,4.50,4.86,5.00,4.63,4.50,6,1,5,0,0.08
4,4.134200e+04,2.023030e+13,180072,2.0,3.0,NaN,42.346550,3.204630,4,NaN,...,4.82,4.73,4.73,4.91,4.36,1,1,0,0,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,8.583870e+17,2.023030e+13,26281633,34.0,44.0,NaN,41.957265,3.201288,8,NaN,...,4.50,4.70,4.70,4.70,4.40,34,34,0,0,0.50
19651,8.583960e+17,2.023030e+13,444428600,3.0,3.0,NaN,41.699070,2.844080,4,NaN,...,4.50,4.70,4.70,4.70,4.40,1,1,0,0,0.50
19652,8.584110e+17,2.023030e+13,491503593,9.0,11.0,NaN,41.813720,3.064465,4,NaN,...,4.50,4.70,4.70,4.70,4.40,9,9,0,0,0.50
19653,8.584180e+17,2.023030e+13,389605038,111.0,121.0,NaN,41.809375,3.053910,4,NaN,...,4.50,4.70,4.70,4.70,4.40,54,54,0,0,0.50
19654,8.584240e+17,2.023030e+13,491503593,9.0,11.0,NaN,41.810169,3.066358,5,NaN,...,4.50,4.70,4.70,4.70,4.40,9,9,0,0,0.50

In [ ]:
valores_nulos=dfnum.isnull().sum()
valores_nulos

id                                                  0
scrape_id                                           0
host_id                                             0
host_listings_count                                 0
host_total_listings_count                           0
neighbourhood_group_cleansed                    19655
latitude                                            0
longitude                                           0
accommodates                                        0
bathrooms                                       19655
bedrooms                                            0
beds                                                0
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              0
maximum_minimum_nights                              0
minimum_maximum_nights                              0
maximum_maximum_nights                              0
minimum_nights_avg_ntm                              0
maximum_nights_avg_ntm                              0
calendar_updated                                19655
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
review_scores_rating                                0
review_scores_accuracy                              0
review_scores_cleanliness                           0
review_scores_checkin                               0
review_scores_communication                         0
review_scores_location                              0
review_scores_value                                 0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                   0
dtype: int64

In [ ]:
#Se utilizo un dropna ya que al hacer la sustitución de variables con promedio seguian apareciendo datos, esto es debido a que los datos de estas columnas estaban en ceros.
dfnum= dfnum.dropna(axis=1, how='all')

In [ ]:
valores_nulos=dfnum.isnull().sum()
valores_nulos

id                                              0
scrape_id                                       0
host_id                                         0
host_listings_count                             0
host_total_listings_count                       0
latitude                                        0
longitude                                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [ ]:
valores_nulos=dfobj.isnull().sum()
valores_nulos

listing_url                   0
last_scraped                  0
source                        0
name                          0
description                  23
neighborhood_overview     11313
picture_url                   0
host_url                      0
host_name                   117
host_since                  117
host_location              5559
host_about                 8424
host_response_time         2088
host_response_rate         2088
host_acceptance_rate       1153
host_is_superhost            15
host_thumbnail_url          117
host_picture_url            117
host_neighbourhood        18386
host_verifications            0
host_has_profile_pic        117
host_identity_verified      117
neighbourhood             11313
neighbourhood_cleansed        0
property_type                 0
room_type                     0
bathrooms_text               16
amenities                     0
price                         0
has_availability              0
calendar_last_scraped         0
first_review               5227
last_review                5227
license                    1135
instant_bookable              0
dtype: int64

In [ ]:
#Se utilizará el método ffill, dado que sustituye los valores nulos por valores no nulos hacia adelante
dfobj= dfobj.fillna(method="ffill")

In [ ]:
valores_nulos=dfobj.isnull().sum()
valores_nulos

listing_url               0
last_scraped              0
source                    0
name                      0
description               0
neighborhood_overview     0
picture_url               0
host_url                  0
host_name                 0
host_since                0
host_location             0
host_about                0
host_response_time        0
host_response_rate        0
host_acceptance_rate      0
host_is_superhost         0
host_thumbnail_url        0
host_picture_url          0
host_neighbourhood        4
host_verifications        0
host_has_profile_pic      0
host_identity_verified    0
neighbourhood             0
neighbourhood_cleansed    0
property_type             0
room_type                 0
bathrooms_text            0
amenities                 0
price                     0
has_availability          0
calendar_last_scraped     0
first_review              0
last_review               0
license                   0
instant_bookable          0
dtype: int64

In [ ]:
#Con el uso de ffill no se eliminaron todos los datos nulos, es por eso que se decidió utilizar bfill sustituye los valores nulos por valores no nulos hacia atrás.
dfobj= dfobj.fillna(method="bfill")

In [ ]:
valores_nulos=dfobj.isnull().sum()
valores_nulos

listing_url               0
last_scraped              0
source                    0
name                      0
description               0
neighborhood_overview     0
picture_url               0
host_url                  0
host_name                 0
host_since                0
host_location             0
host_about                0
host_response_time        0
host_response_rate        0
host_acceptance_rate      0
host_is_superhost         0
host_thumbnail_url        0
host_picture_url          0
host_neighbourhood        0
host_verifications        0
host_has_profile_pic      0
host_identity_verified    0
neighbourhood             0
neighbourhood_cleansed    0
property_type             0
room_type                 0
bathrooms_text            0
amenities                 0
price                     0
has_availability          0
calendar_last_scraped     0
first_review              0
last_review               0
license                   0
instant_bookable          0
dtype: int64

**Eliminación de outliers con Rango Intercuartílico**

Se utilizo rango intercuantilico ya que te permite encontrar más outliers ya que acota los límites de los datos

In [ ]:
y=dfnum

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido id                                              1.430535e+18
scrape_id                                       2.023030e+13
host_id                                         5.298792e+08
host_listings_count                             1.560000e+02
host_total_listings_count                       2.270000e+02
latitude                                        4.288548e+01
longitude                                       3.623007e+00
accommodates                                    9.000000e+00
bedrooms                                        4.500000e+00
beds                                            9.500000e+00
minimum_nights                                  1.100000e+01
maximum_nights                                  2.722500e+03
minimum_minimum_nights                          8.500000e+00
maximum_minimum_nights                          1.300000e+01
minimum_maximum_nights                          2.767500e+03
maximum_maximum_nights                          2.265000e+03
minimum_nights_avg_ntm                          9.500000e+00
maximum_nights_avg_ntm                          2.265000e+03
availability_30                                 6.750000e+01
availability_60                                 1.270000e+02
availability_90                                 1.700000e+02
availability_365                                5.805000e+02
number_of_reviews                               3.500000e+01
number_of_reviews_ltm                           1.250000e+01
number_of_reviews_l30d                          0.000000e+00
review_scores_rating                            5.365000e+00
review_scores_accuracy                          5.425000e+00
review_scores_cleanliness                       5.475000e+00
review_scores_checkin                           5.450000e+00
review_scores_communication                     5.450000e+00
review_scores_location                          5.375000e+00
review_scores_value                             5.275000e+00
calculated_host_listings_count                  1.285000e+02
calculated_host_listings_count_entire_homes     1.285000e+02
calculated_host_listings_count_private_rooms    0.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                               1.025000e+00
dtype: float64
Limite inferior permitido id                                             -8.583210e+17
scrape_id                                       2.023030e+13
host_id                                        -2.560745e+08
host_listings_count                            -9.200000e+01
host_total_listings_count                      -1.330000e+02
latitude                                        4.118752e+01
longitude                                       2.429620e+00
accommodates                                    1.000000e+00
bedrooms                                        5.000000e-01
beds                                           -2.500000e+00
minimum_nights                                 -5.000000e+00
maximum_nights                                 -1.537500e+03
minimum_minimum_nights                         -3.500000e+00
maximum_minimum_nights                         -3.000000e+00
minimum_maximum_nights                         -1.612500e+03
maximum_maximum_nights                         -7.750000e+02
minimum_nights_avg_ntm                         -2.500000e+00
maximum_nights_avg_ntm                         -7.750000e+02
availability_30                                -4.050000e+01
availability_60                                -6.500000e+01
availability_90                                -6.200000e+01
availability_365                               -1.915000e+02
number_of_reviews                              -2.100000e+01
number_of_reviews_ltm                          -7.500000e+00
number_of_reviews_l30d                          0.000000e+00
review_scores_rating                            4.045000e+00
review_scores_accuracy                          4.105000e+00
review_scores_cleanliness                       3.915000e+00
review_scores_checkin                           4.250000e+00
review_scores_communication                     4.250000e+00
review_scores_location                          4.295000e+00
review_scores_value                             3.875000e+00
calculated_host_listings_count                 -7.550000e+01
calculated_host_listings_count_entire_homes    -7.550000e+01
calculated_host_listings_count_private_rooms    0.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                              -3.750000e-01
dtype: float64

In [ ]:
#Encontramos Outliers del Dataframe
outliers_iqr= dfnum[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
num_iqr= dfnum[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
num_iqr

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1.455100e+04,2.023030e+13,57237,1.0,5.0,41.996500,2.836460,2.0,1.0,1.0,...,4.94,4.89,4.91,4.63,4.74,1.0,0.0,NaN,0.0,0.37
1,1.205757e+06,2.023030e+13,6586355,1.0,1.0,41.793040,2.774120,2.0,1.0,1.0,...,4.85,4.85,4.91,4.69,4.80,1.0,0.0,NaN,0.0,0.51
2,1.212820e+06,2.023030e+13,6620645,2.0,3.0,42.112840,3.166700,4.0,1.0,2.0,...,4.31,4.81,4.76,4.74,4.32,2.0,2.0,0.0,0.0,0.62
3,7.516380e+05,2.023030e+13,3680160,6.0,6.0,42.369580,2.980300,2.0,1.0,2.0,...,4.50,4.86,5.00,4.63,4.50,6.0,1.0,NaN,0.0,0.08
4,4.134200e+04,2.023030e+13,180072,2.0,3.0,42.346550,3.204630,4.0,1.0,1.0,...,4.82,4.73,4.73,4.91,4.36,1.0,1.0,0.0,0.0,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,8.583870e+17,2.023030e+13,26281633,34.0,44.0,41.957265,3.201288,8.0,4.0,4.0,...,4.50,4.70,4.70,4.70,4.40,34.0,34.0,0.0,0.0,0.50
19651,8.583960e+17,2.023030e+13,444428600,3.0,3.0,41.699070,2.844080,4.0,1.0,1.0,...,4.50,4.70,4.70,4.70,4.40,1.0,1.0,0.0,0.0,0.50
19652,8.584110e+17,2.023030e+13,491503593,9.0,11.0,41.813720,3.064465,4.0,2.0,3.0,...,4.50,4.70,4.70,4.70,4.40,9.0,9.0,0.0,0.0,0.50
19653,8.584180e+17,2.023030e+13,389605038,111.0,121.0,41.809375,3.053910,4.0,2.0,3.0,...,4.50,4.70,4.70,4.70,4.40,54.0,54.0,0.0,0.0,0.50
19654,8.584240e+17,2.023030e+13,491503593,9.0,11.0,41.810169,3.066358,5.0,3.0,3.0,...,4.50,4.70,4.70,4.70,4.40,9.0,9.0,0.0,0.0,0.50

In [ ]:
valores_nulos=num_iqr.isnull().sum()
valores_nulos

id                                                 0
scrape_id                                          0
host_id                                            0
host_listings_count                             1682
host_total_listings_count                       2447
latitude                                           0
longitude                                        926
accommodates                                    1616
bedrooms                                        1355
beds                                             565
minimum_nights                                   449
maximum_nights                                     0
minimum_minimum_nights                           434
maximum_minimum_nights                          1009
minimum_maximum_nights                             0
maximum_maximum_nights                             0
minimum_nights_avg_ntm                           607
maximum_nights_avg_ntm                             0
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                               2247
number_of_reviews_ltm                           1855
number_of_reviews_l30d                          1575
review_scores_rating                            2229
review_scores_accuracy                          1751
review_scores_cleanliness                       1359
review_scores_checkin                           1627
review_scores_communication                     1590
review_scores_location                          1502
review_scores_value                             1482
calculated_host_listings_count                  1679
calculated_host_listings_count_entire_homes     1549
calculated_host_listings_count_private_rooms    2881
calculated_host_listings_count_shared_rooms      181
reviews_per_month                               1887
dtype: int64

In [ ]:
num_iqr=num_iqr.fillna(round(num_iqr.mean(),1))
num_iqr

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1.455100e+04,2.023030e+13,57237,1.0,5.0,41.996500,2.836460,2.0,1.0,1.0,...,4.94,4.89,4.91,4.63,4.74,1.0,0.0,0.0,0.0,0.37
1,1.205757e+06,2.023030e+13,6586355,1.0,1.0,41.793040,2.774120,2.0,1.0,1.0,...,4.85,4.85,4.91,4.69,4.80,1.0,0.0,0.0,0.0,0.51
2,1.212820e+06,2.023030e+13,6620645,2.0,3.0,42.112840,3.166700,4.0,1.0,2.0,...,4.31,4.81,4.76,4.74,4.32,2.0,2.0,0.0,0.0,0.62
3,7.516380e+05,2.023030e+13,3680160,6.0,6.0,42.369580,2.980300,2.0,1.0,2.0,...,4.50,4.86,5.00,4.63,4.50,6.0,1.0,0.0,0.0,0.08
4,4.134200e+04,2.023030e+13,180072,2.0,3.0,42.346550,3.204630,4.0,1.0,1.0,...,4.82,4.73,4.73,4.91,4.36,1.0,1.0,0.0,0.0,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,8.583870e+17,2.023030e+13,26281633,34.0,44.0,41.957265,3.201288,8.0,4.0,4.0,...,4.50,4.70,4.70,4.70,4.40,34.0,34.0,0.0,0.0,0.50
19651,8.583960e+17,2.023030e+13,444428600,3.0,3.0,41.699070,2.844080,4.0,1.0,1.0,...,4.50,4.70,4.70,4.70,4.40,1.0,1.0,0.0,0.0,0.50
19652,8.584110e+17,2.023030e+13,491503593,9.0,11.0,41.813720,3.064465,4.0,2.0,3.0,...,4.50,4.70,4.70,4.70,4.40,9.0,9.0,0.0,0.0,0.50
19653,8.584180e+17,2.023030e+13,389605038,111.0,121.0,41.809375,3.053910,4.0,2.0,3.0,...,4.50,4.70,4.70,4.70,4.40,54.0,54.0,0.0,0.0,0.50
19654,8.584240e+17,2.023030e+13,491503593,9.0,11.0,41.810169,3.066358,5.0,3.0,3.0,...,4.50,4.70,4.70,4.70,4.40,9.0,9.0,0.0,0.0,0.50

In [ ]:
valores_nulos=num_iqr.isnull().sum()
valores_nulos

id                                              0
scrape_id                                       0
host_id                                         0
host_listings_count                             0
host_total_listings_count                       0
latitude                                        0
longitude                                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [ ]:
df_limpio= pd.concat([num_iqr, dfobj], axis=1)
df_limpio

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
0,1.455100e+04,2.023030e+13,57237,1.0,5.0,41.996500,2.836460,2.0,1.0,1.0,...,Private room,1 private bath,"[""Shared pool"", ""Refrigerator"", ""Long term sta...",$42.00,t,31/03/2023,08/10/2010,27/02/2023,HUTG-049542,f
1,1.205757e+06,2.023030e+13,6586355,1.0,1.0,41.793040,2.774120,2.0,1.0,1.0,...,Private room,1.5 shared baths,"[""Free parking on premises"", ""Refrigerator"", ""...",$47.00,t,31/03/2023,01/08/2013,26/06/2022,HUTG-049542,f
2,1.212820e+06,2.023030e+13,6620645,2.0,3.0,42.112840,3.166700,4.0,1.0,2.0,...,Entire home/apt,1 bath,"[""Air conditioning"", ""Free parking on premises...",$74.00,t,01/04/2023,10/06/2013,30/12/2022,HUTG-049542,f
3,7.516380e+05,2.023030e+13,3680160,6.0,6.0,42.369580,2.980300,2.0,1.0,2.0,...,Private room,1 private bath,"[""Hair dryer"", ""Luggage dropoff allowed"", ""Fre...",$45.00,t,31/03/2023,23/08/2013,29/08/2022,PG000794,t
4,4.134200e+04,2.023030e+13,180072,2.0,3.0,42.346550,3.204630,4.0,1.0,1.0,...,Entire home/apt,1 bath,"[""Free parking on premises"", ""Refrigerator"", ""...",$120.00,t,01/04/2023,14/07/2013,28/08/2021,HUTG-003688,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,8.583870e+17,2.023030e+13,26281633,34.0,44.0,41.957265,3.201288,8.0,4.0,4.0,...,Entire home/apt,5 baths,"[""Pets allowed"", ""Smoking allowed"", ""Essentials""]",$209.00,t,01/04/2023,23/03/2023,26/03/2023,HUTG-001292,t
19651,8.583960e+17,2.023030e+13,444428600,3.0,3.0,41.699070,2.844080,4.0,1.0,1.0,...,Entire home/apt,1 bath,"[""Kitchen"", ""Pets allowed"", ""Washer""]",$52.00,t,01/04/2023,23/03/2023,26/03/2023,HUTG019727,t
19652,8.584110e+17,2.023030e+13,491503593,9.0,11.0,41.813720,3.064465,4.0,2.0,3.0,...,Entire home/apt,1 bath,"[""Kitchen"", ""Free street parking"", ""Washer"", ""...",$66.00,t,01/04/2023,23/03/2023,26/03/2023,HUTG-057830,f
19653,8.584180e+17,2.023030e+13,389605038,111.0,121.0,41.809375,3.053910,4.0,2.0,3.0,...,Entire home/apt,1 bath,"[""Refrigerator"", ""Microwave"", ""Elevator"", ""Pet...",$108.00,t,01/04/2023,23/03/2023,26/03/2023,HUTG-065236,t
19654,8.584240e+17,2.023030e+13,491503593,9.0,11.0,41.810169,3.066358,5.0,3.0,3.0,...,Entire home/apt,1 bath,"[""Kitchen"", ""Washer"", ""Clothing storage"", ""Dis...",$73.00,t,01/04/2023,23/03/2023,26/03/2023,HUTG-051787,f

In [ ]:
#Convertir DataFrame a CSV
df_limpio.to_csv("DatosEspaña_limpios.csv")

In [ ]:
#descargar archivo filtrado en csv
from google.colab import files 
files.download("DatosEspaña_limpios.csv")