<a href="https://colab.research.google.com/github/caroSF1/Evaluaci-n/blob/main/Evaluaci%C3%B3n_Ep2_EUA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Evaluación**
## **Carolina Solis Flores**
## **A01708072**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [ ]:
#Carga desde un archivo .xlsx sin indice
df=pd.read_csv("California_EUA.csv",encoding='unicode_escape')

## **Etapa 1: Preprocesamientos de datos**

**Valores Nulos**

In [ ]:
df.head(2)

,ï»¿id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,958.0,https://www.airbnb.com/rooms/958,2.020000e+13,06/03/2023,city scrape,"Bright, Modern Garden Unit - 1BR/1BTH",Our bright garden unit overlooks a lovely back...,Quiet cul de sac in friendly neighborhood<br /...,https://a0.muscache.com/pictures/b7c2a199-4c17...,1169,...,4.88,4.98,4.76,City Registration Pending,f,1,1,0,0,2.31
1,5858.0,https://www.airbnb.com/rooms/5858,2.020000e+13,06/03/2023,city scrape,Creative Sanctuary,We live in a large Victorian house on a quiet ...,I love how our neighborhood feels quiet but is...,https://a0.muscache.com/pictures/17714/3a7aea1...,8904,...,4.85,4.77,4.68,NaN,f,1,1,0,0,0.66

In [ ]:
valores_nulos=df.isnull().sum()
valores_nulos

ï»¿id                                              0
listing_url                                        0
scrape_id                                          0
last_scraped                                       0
source                                             0
                                                ...
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               1325
Length: 75, dtype: int64

In [ ]:
dfnum = df.select_dtypes(include = ["number"])
dfobj = df.select_dtypes(include = ["object"])

In [ ]:
valores_nulos=dfnum.isnull().sum()
valores_nulos

ï»¿id                                              0
scrape_id                                          0
host_id                                            0
host_listings_count                                0
host_total_listings_count                          0
neighbourhood_group_cleansed                    6936
latitude                                           0
longitude                                          0
accommodates                                       0
bathrooms                                       6936
bedrooms                                         945
beds                                             120
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             2
maximum_minimum_nights                             2
minimum_maximum_nights                             2
maximum_maximum_nights                             2
minimum_nights_avg_ntm                             2
maximum_nights_avg_ntm                             2
calendar_updated                                6936
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
review_scores_rating                            1325
review_scores_accuracy                          1346
review_scores_cleanliness                       1346
review_scores_checkin                           1347
review_scores_communication                     1346
review_scores_location                          1347
review_scores_value                             1347
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               1325
dtype: int64

In [ ]:
#Se sustituye los valores por el promedio pues medida de tendencia central más utilizada y nos permite tener un termino medio de los datos
dfnum=dfnum.fillna(round(dfnum.mean(),1))
dfnum

,ï»¿id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,9.580000e+02,2.020000e+13,1169,1,1,NaN,37.770280,-122.433170,3,NaN,...,4.92,4.95,4.88,4.98,4.76,1,1,0,0,2.31
1,5.858000e+03,2.020000e+13,8904,2,2,NaN,37.744740,-122.420890,4,NaN,...,4.87,4.89,4.85,4.77,4.68,1,1,0,0,0.66
2,8.142000e+03,2.020000e+13,21994,13,14,NaN,37.765550,-122.452130,1,NaN,...,4.44,4.78,4.78,4.67,4.67,13,0,13,0,0.09
3,8.339000e+03,2.020000e+13,24215,2,6,NaN,37.775640,-122.436420,4,NaN,...,5.00,4.94,5.00,4.94,4.75,2,2,0,0,0.17
4,8.739000e+03,2.020000e+13,7149,2,2,NaN,37.760300,-122.421970,3,NaN,...,4.94,4.95,4.96,4.93,4.74,2,0,2,0,4.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,8.180000e+17,2.020000e+13,495900269,9,9,NaN,37.791994,-122.410000,2,NaN,...,4.80,4.90,4.90,4.80,4.70,5,5,0,0,1.30
6932,8.180000e+17,2.020000e+13,499392537,1,1,NaN,37.763060,-122.432023,2,NaN,...,5.00,5.00,5.00,5.00,5.00,1,1,0,0,1.00
6933,8.180000e+17,2.020000e+13,499294716,1,1,NaN,37.777633,-122.416478,1,NaN,...,4.80,4.90,4.90,4.80,4.70,1,0,1,0,1.30
6934,8.180000e+17,2.020000e+13,485596413,3,4,NaN,37.738325,-122.396603,2,NaN,...,4.80,4.90,4.90,4.80,4.70,3,0,3,0,1.30
6935,8.190000e+17,2.020000e+13,4836128,2,4,NaN,37.786442,-122.457006,2,NaN,...,4.80,4.90,4.90,4.80,4.70,2,1,1,0,1.30

In [ ]:
valores_nulos=dfnum.isnull().sum()
valores_nulos

ï»¿id                                              0
scrape_id                                          0
host_id                                            0
host_listings_count                                0
host_total_listings_count                          0
neighbourhood_group_cleansed                    6936
latitude                                           0
longitude                                          0
accommodates                                       0
bathrooms                                       6936
bedrooms                                           0
beds                                               0
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             0
maximum_minimum_nights                             0
minimum_maximum_nights                             0
maximum_maximum_nights                             0
minimum_nights_avg_ntm                             0
maximum_nights_avg_ntm                             0
calendar_updated                                6936
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
review_scores_rating                               0
review_scores_accuracy                             0
review_scores_cleanliness                          0
review_scores_checkin                              0
review_scores_communication                        0
review_scores_location                             0
review_scores_value                                0
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                                  0
dtype: int64

In [ ]:
#Se utilizo un dropna ya que al hacer la sustitución de variables con promedio seguian apareciendo datos, esto es debido a que los datos de estas columnas estaban en ceros.
dfnum= dfnum.dropna(axis=1, how='all')

In [ ]:
valores_nulos=dfnum.isnull().sum()
valores_nulos

ï»¿id                                           0
scrape_id                                       0
host_id                                         0
host_listings_count                             0
host_total_listings_count                       0
latitude                                        0
longitude                                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [ ]:
valores_nulos=dfobj.isnull().sum()
valores_nulos

listing_url                  0
last_scraped                 0
source                       0
name                         0
description                 47
neighborhood_overview     2086
picture_url                  0
host_url                     0
host_name                    0
host_since                   0
host_location             1221
host_about                2252
host_response_time        1019
host_response_rate        1019
host_acceptance_rate       801
host_is_superhost            9
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood         301
host_verifications           0
host_has_profile_pic         0
host_identity_verified       0
neighbourhood             2086
neighbourhood_cleansed       0
property_type                0
room_type                    0
bathrooms_text              14
amenities                    0
price                        0
has_availability             0
calendar_last_scraped        0
first_review              1325
last_review               1325
license                   2758
instant_bookable             0
dtype: int64

In [ ]:
#Se utilizará el método ffill, dado que sustituye los valores nulos por valores no nulos hacia adelante
dfobj= dfobj.fillna(method="ffill")

In [ ]:
valores_nulos=dfobj.isnull().sum()
valores_nulos

listing_url               0
last_scraped              0
source                    0
name                      0
description               0
neighborhood_overview     0
picture_url               0
host_url                  0
host_name                 0
host_since                0
host_location             0
host_about                0
host_response_time        0
host_response_rate        0
host_acceptance_rate      0
host_is_superhost         0
host_thumbnail_url        0
host_picture_url          0
host_neighbourhood        0
host_verifications        0
host_has_profile_pic      0
host_identity_verified    0
neighbourhood             0
neighbourhood_cleansed    0
property_type             0
room_type                 0
bathrooms_text            0
amenities                 0
price                     0
has_availability          0
calendar_last_scraped     0
first_review              0
last_review               0
license                   0
instant_bookable          0
dtype: int64

**Eliminación de outliers con Rango Intercuartílico**

Se utilizo rango intercuantilico ya que te permite encontrar más outliers ya que acota los límites de los datos

In [ ]:
y=dfnum

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido ï»¿id                                           1.067459e+08
scrape_id                                       2.020000e+13
host_id                                         4.243084e+08
host_listings_count                             3.850000e+01
host_total_listings_count                       5.700000e+01
latitude                                        3.783859e+01
longitude                                      -1.223622e+02
accommodates                                    7.000000e+00
bedrooms                                        3.500000e+00
beds                                            3.500000e+00
minimum_nights                                  7.200000e+01
maximum_nights                                  2.769000e+03
minimum_minimum_nights                          7.200000e+01
maximum_minimum_nights                          7.200000e+01
minimum_maximum_nights                          2.677500e+03
maximum_maximum_nights                          2.677500e+03
minimum_nights_avg_ntm                          7.200000e+01
maximum_nights_avg_ntm                          2.677500e+03
availability_30                                 5.750000e+01
availability_60                                 1.235000e+02
availability_90                                 1.860000e+02
availability_365                                6.593750e+02
number_of_reviews                               1.185000e+02
number_of_reviews_ltm                           2.500000e+01
number_of_reviews_l30d                          2.500000e+00
review_scores_rating                            5.345000e+00
review_scores_accuracy                          5.300000e+00
review_scores_cleanliness                       5.330000e+00
review_scores_checkin                           5.150000e+00
review_scores_communication                     5.150000e+00
review_scores_location                          5.300000e+00
review_scores_value                             5.175000e+00
calculated_host_listings_count                  2.100000e+01
calculated_host_listings_count_entire_homes     5.000000e+00
calculated_host_listings_count_private_rooms    5.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                               2.950000e+00
dtype: float64
Limite inferior permitido ï»¿id                                          -3.562532e+07
scrape_id                                       2.020000e+13
host_id                                        -2.452959e+08
host_listings_count                            -2.150000e+01
host_total_listings_count                      -3.100000e+01
latitude                                        3.770181e+01
longitude                                      -1.224912e+02
accommodates                                   -1.000000e+00
bedrooms                                       -5.000000e-01
beds                                           -5.000000e-01
minimum_nights                                 -4.000000e+01
maximum_nights                                 -1.615000e+03
minimum_minimum_nights                         -4.000000e+01
maximum_minimum_nights                         -4.000000e+01
minimum_maximum_nights                         -1.462500e+03
maximum_maximum_nights                         -1.462500e+03
minimum_nights_avg_ntm                         -4.000000e+01
maximum_nights_avg_ntm                         -1.462500e+03
availability_30                                -3.450000e+01
availability_60                                -7.250000e+01
availability_90                                -1.020000e+02
availability_365                               -3.176250e+02
number_of_reviews                              -6.950000e+01
number_of_reviews_ltm                          -1.500000e+01
number_of_reviews_l30d                         -1.500000e+00
review_scores_rating                            4.425000e+00
review_scores_accuracy                          4.500000e+00
review_scores_cleanliness                       4.450000e+00
review_scores_checkin                           4.750000e+00
review_scores_communication                     4.750000e+00
review_scores_location                          4.500000e+00
review_scores_value                             4.335000e+00
calculated_host_listings_count                 -1.100000e+01
calculated_host_listings_count_entire_homes    -3.000000e+00
calculated_host_listings_count_private_rooms   -3.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                              -1.370000e+00
dtype: float64

In [ ]:
#Encontramos Outliers del Dataframe
outliers_iqr= dfnum[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

,ï»¿id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.44,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,8.180000e+17,NaN,495900269.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6932,8.180000e+17,NaN,499392537.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6933,8.180000e+17,NaN,499294716.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6934,8.180000e+17,NaN,485596413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6935,8.190000e+17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
num_iqr= dfnum[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
num_iqr

,ï»¿id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,958.0,2.020000e+13,1169.0,1.0,1.0,37.770280,-122.433170,3.0,1.0,2.0,...,4.92,4.95,4.88,4.98,4.76,1.0,1.0,0.0,0.0,2.31
1,5858.0,2.020000e+13,8904.0,2.0,2.0,37.744740,-122.420890,4.0,2.0,2.0,...,4.87,4.89,4.85,4.77,4.68,1.0,1.0,0.0,0.0,0.66
2,8142.0,2.020000e+13,21994.0,13.0,14.0,37.765550,-122.452130,1.0,1.0,1.0,...,NaN,4.78,4.78,4.67,4.67,13.0,0.0,NaN,0.0,0.09
3,8339.0,2.020000e+13,24215.0,2.0,6.0,37.775640,-122.436420,4.0,2.0,2.0,...,5.00,4.94,5.00,4.94,4.75,2.0,2.0,0.0,0.0,0.17
4,8739.0,2.020000e+13,7149.0,2.0,2.0,37.760300,-122.421970,3.0,1.0,1.0,...,4.94,4.95,4.96,4.93,4.74,2.0,0.0,2.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,NaN,2.020000e+13,NaN,9.0,9.0,37.791994,-122.410000,2.0,1.0,1.0,...,4.80,4.90,4.90,4.80,4.70,5.0,5.0,0.0,0.0,1.30
6932,NaN,2.020000e+13,NaN,1.0,1.0,37.763060,-122.432023,2.0,1.0,1.0,...,5.00,5.00,5.00,5.00,5.00,1.0,1.0,0.0,0.0,1.00
6933,NaN,2.020000e+13,NaN,1.0,1.0,37.777633,-122.416478,1.0,1.0,1.0,...,4.80,4.90,4.90,4.80,4.70,1.0,0.0,1.0,0.0,1.30
6934,NaN,2.020000e+13,NaN,3.0,4.0,37.738325,-122.396603,2.0,1.0,1.0,...,4.80,4.90,4.90,4.80,4.70,3.0,0.0,3.0,0.0,1.30
6935,NaN,2.020000e+13,4836128.0,2.0,4.0,37.786442,-122.457006,2.0,1.0,1.0,...,4.80,4.90,4.90,4.80,4.70,2.0,1.0,1.0,0.0,1.30

In [ ]:
valores_nulos=num_iqr.isnull().sum()
valores_nulos

ï»¿id                                           1573
scrape_id                                          0
host_id                                          413
host_listings_count                             1128
host_total_listings_count                       1196
latitude                                           0
longitude                                        327
accommodates                                     279
bedrooms                                         228
beds                                             558
minimum_nights                                   200
maximum_nights                                     4
minimum_minimum_nights                           231
maximum_minimum_nights                           346
minimum_maximum_nights                            21
maximum_maximum_nights                            36
minimum_nights_avg_ntm                           341
maximum_nights_avg_ntm                            36
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                                867
number_of_reviews_ltm                            963
number_of_reviews_l30d                           575
review_scores_rating                             615
review_scores_accuracy                           444
review_scores_cleanliness                        613
review_scores_checkin                            720
review_scores_communication                      895
review_scores_location                           545
review_scores_value                              661
calculated_host_listings_count                  1140
calculated_host_listings_count_entire_homes     1078
calculated_host_listings_count_private_rooms    1040
calculated_host_listings_count_shared_rooms      114
reviews_per_month                                832
dtype: int64

In [ ]:
num_iqr=num_iqr.fillna(round(num_iqr.mean(),1))
num_iqr

,ï»¿id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,958.0,2.020000e+13,1169.0,1.0,1.0,37.770280,-122.433170,3.0,1.0,2.0,...,4.92,4.95,4.88,4.98,4.76,1.0,1.0,0.0,0.0,2.31
1,5858.0,2.020000e+13,8904.0,2.0,2.0,37.744740,-122.420890,4.0,2.0,2.0,...,4.87,4.89,4.85,4.77,4.68,1.0,1.0,0.0,0.0,0.66
2,8142.0,2.020000e+13,21994.0,13.0,14.0,37.765550,-122.452130,1.0,1.0,1.0,...,4.90,4.78,4.78,4.67,4.67,13.0,0.0,0.7,0.0,0.09
3,8339.0,2.020000e+13,24215.0,2.0,6.0,37.775640,-122.436420,4.0,2.0,2.0,...,5.00,4.94,5.00,4.94,4.75,2.0,2.0,0.0,0.0,0.17
4,8739.0,2.020000e+13,7149.0,2.0,2.0,37.760300,-122.421970,3.0,1.0,1.0,...,4.94,4.95,4.96,4.93,4.74,2.0,0.0,2.0,0.0,0.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,27790615.3,2.020000e+13,87507815.4,9.0,9.0,37.791994,-122.410000,2.0,1.0,1.0,...,4.80,4.90,4.90,4.80,4.70,5.0,5.0,0.0,0.0,1.30
6932,27790615.3,2.020000e+13,87507815.4,1.0,1.0,37.763060,-122.432023,2.0,1.0,1.0,...,5.00,5.00,5.00,5.00,5.00,1.0,1.0,0.0,0.0,1.00
6933,27790615.3,2.020000e+13,87507815.4,1.0,1.0,37.777633,-122.416478,1.0,1.0,1.0,...,4.80,4.90,4.90,4.80,4.70,1.0,0.0,1.0,0.0,1.30
6934,27790615.3,2.020000e+13,87507815.4,3.0,4.0,37.738325,-122.396603,2.0,1.0,1.0,...,4.80,4.90,4.90,4.80,4.70,3.0,0.0,3.0,0.0,1.30
6935,27790615.3,2.020000e+13,4836128.0,2.0,4.0,37.786442,-122.457006,2.0,1.0,1.0,...,4.80,4.90,4.90,4.80,4.70,2.0,1.0,1.0,0.0,1.30

In [ ]:
valores_nulos=num_iqr.isnull().sum()
valores_nulos

ï»¿id                                           0
scrape_id                                       0
host_id                                         0
host_listings_count                             0
host_total_listings_count                       0
latitude                                        0
longitude                                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [ ]:
df_limpio= pd.concat([num_iqr, dfobj], axis=1)
df_limpio

,ï»¿id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
0,958.0,2.020000e+13,1169.0,1.0,1.0,37.770280,-122.433170,3.0,1.0,2.0,...,Entire home/apt,1 bath,"[""Oven"", ""Self check-in"", ""Cooking basics"", ""L...",$202.00,t,06/03/2023,23/07/2009,19/02/2023,City Registration Pending,f
1,5858.0,2.020000e+13,8904.0,2.0,2.0,37.744740,-122.420890,4.0,2.0,2.0,...,Entire home/apt,1 bath,"[""Essentials"", ""Carbon monoxide alarm"", ""Hange...",$235.00,t,06/03/2023,03/05/2009,06/08/2017,City Registration Pending,f
2,8142.0,2.020000e+13,21994.0,13.0,14.0,37.765550,-122.452130,1.0,1.0,1.0,...,Private room,4 shared baths,"[""Security cameras on property"", ""Host greets ...",$56.00,t,06/03/2023,08/09/2014,27/10/2022,City Registration Pending,f
3,8339.0,2.020000e+13,24215.0,2.0,6.0,37.775640,-122.436420,4.0,2.0,2.0,...,Entire home/apt,1.5 baths,"[""Oven"", ""Cooking basics"", ""TV"", ""Smoke alarm""...",$575.00,t,06/03/2023,25/09/2009,28/06/2019,STR-0000264,f
4,8739.0,2.020000e+13,7149.0,2.0,2.0,37.760300,-122.421970,3.0,1.0,1.0,...,Private room,1 private bath,"[""Paid parking garage off premises"", ""Luggage ...",$110.00,t,06/03/2023,01/08/2009,25/02/2023,STR-0000028,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,27790615.3,2.020000e+13,87507815.4,9.0,9.0,37.791994,-122.410000,2.0,1.0,1.0,...,Entire home/apt,1 bath,"[""Security cameras on property"", ""Self check-i...",$164.00,t,06/03/2023,13/02/2023,13/02/2023,147904,t
6932,27790615.3,2.020000e+13,87507815.4,1.0,1.0,37.763060,-122.432023,2.0,1.0,1.0,...,Entire home/apt,1 bath,"[""Cooking basics"", ""Luggage dropoff allowed"", ...",$228.00,t,06/03/2023,03/03/2023,03/03/2023,2023-001477STR,f
6933,27790615.3,2.020000e+13,87507815.4,1.0,1.0,37.777633,-122.416478,1.0,1.0,1.0,...,Private room,1 shared bath,"[""TV"", ""Free dryer – In unit"", ""Mountain view""...",$104.00,t,06/03/2023,03/03/2023,03/03/2023,2023-001477STR,f
6934,27790615.3,2.020000e+13,87507815.4,3.0,4.0,37.738325,-122.396603,2.0,1.0,1.0,...,Private room,1 shared bath,"[""Essentials"", ""Carbon monoxide alarm"", ""Centr...",$65.00,t,06/03/2023,03/03/2023,03/03/2023,2022-012562STR,f
6935,27790615.3,2.020000e+13,4836128.0,2.0,4.0,37.786442,-122.457006,2.0,1.0,1.0,...,Entire home/apt,1 bath,"[""Carbon monoxide alarm"", ""Security cameras on...",$375.00,t,06/03/2023,03/03/2023,03/03/2023,2022-012562STR,t

In [ ]:
#Convertir DataFrame a CSV
df_limpio.to_csv("DatosEUA_limpios.csv")

In [ ]:
#descargar archivo filtrado en csv
from google.colab import files 
files.download("DatosEUA_limpios.csv")