<a href="https://colab.research.google.com/github/caroSF1/Evaluaci-n/blob/main/Examen_Et1_M%C3%A9xico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Evaluación**
## **Carolina Solis Flores**
## **A01708072**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

Saving DF_Mexico.csv to DF_Mexico.csv

In [ ]:
#Carga desde un archivo .csv sin indice
df=pd.read_csv("DF_Mexico.csv")

## **Etapa 1: Preprocesamientos de datos**

**Valores Nulos**

In [ ]:
df.head(2)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2056638,https://www.airbnb.com/rooms/2056638,20230329041210,2023-03-30,city scrape,Amplio y luminoso loft en Coyoacán,Cómodo loft de dos pisos magníficamente ubicad...,NaN,https://a0.muscache.com/pictures/28353712/4379...,10531228,...,4.95,5.00,4.86,NaN,f,3,3,0,0,0.19
1,2072354,https://www.airbnb.com/rooms/2072354,20230329041210,2023-03-30,city scrape,Coyoacan Historic Studio Apartment,This studio flat is adjacent to the owner's ho...,"Located in Coyoacan, in a quiet neighborhood w...",https://a0.muscache.com/pictures/369f3371-593a...,16840050,...,5.00,4.95,4.84,NaN,f,2,2,0,0,0.54

In [ ]:
valores_nulos=df.isnull().sum()
valores_nulos

id                                                 0
listing_url                                        0
scrape_id                                          0
last_scraped                                       0
source                                             0
                                                ...
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               3596
Length: 75, dtype: int64

In [ ]:
dfnum = df.select_dtypes(include = ["number"])
dfobj = df.select_dtypes(include = ["object"])

In [ ]:
valores_nulos=dfnum.isnull().sum()
valores_nulos

id                                                  0
scrape_id                                           0
host_id                                             0
host_listings_count                                 0
host_total_listings_count                           0
neighbourhood_group_cleansed                    24224
latitude                                            0
longitude                                           0
accommodates                                        0
bathrooms                                       24224
bedrooms                                          555
beds                                              271
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              1
maximum_minimum_nights                              1
minimum_maximum_nights                              1
maximum_maximum_nights                              1
minimum_nights_avg_ntm                              1
maximum_nights_avg_ntm                              1
calendar_updated                                24224
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
review_scores_rating                             3596
review_scores_accuracy                           3652
review_scores_cleanliness                        3651
review_scores_checkin                            3652
review_scores_communication                      3652
review_scores_location                           3653
review_scores_value                              3653
license                                         24224
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                3596
dtype: int64

In [ ]:
#Se sustituye los valores por el promedio pues medida de tendencia central más utilizada y nos permite tener un termino medio de los datos
dfnum=dfnum.fillna(round(dfnum.mean(),1))
dfnum

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2056638,20230329041210,10531228,3,7,NaN,19.353530,-99.162990,3,NaN,...,5.00,4.95,5.00,4.86,NaN,3,3,0,0,0.19
1,2072354,20230329041210,16840050,3,3,NaN,19.353580,-99.169480,2,NaN,...,4.93,5.00,4.95,4.84,NaN,2,2,0,0,0.54
2,696037,20230329041210,3531879,4,4,NaN,19.441800,-99.184020,6,NaN,...,4.92,4.92,4.58,4.71,NaN,3,3,0,0,0.31
3,35797,20230329041210,153786,1,1,NaN,19.382830,-99.271780,2,NaN,...,4.80,4.80,4.80,4.70,NaN,1,1,0,0,1.70
4,44616,20230329041210,196253,16,16,NaN,19.411620,-99.177940,14,NaN,...,4.87,4.78,4.98,4.48,NaN,12,3,2,0,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24219,853923589855678923,20230329041210,488030249,3,4,NaN,19.396663,-99.148145,2,NaN,...,4.80,4.80,4.80,4.70,NaN,2,2,0,0,1.70
24220,853966732274073000,20230329041210,506816029,1,1,NaN,19.392023,-99.118722,7,NaN,...,4.80,4.80,4.80,4.70,NaN,1,1,0,0,1.70
24221,854225071295768399,20230329041210,154670560,1,6,NaN,19.371088,-99.190186,2,NaN,...,4.80,4.80,4.80,4.70,NaN,1,0,1,0,1.70
24222,854247693069190865,20230329041210,7799414,13,13,NaN,19.403792,-99.164978,2,NaN,...,4.80,4.80,4.80,4.70,NaN,13,13,0,0,1.70
24223,854260329845513725,20230329041210,506864314,2,2,NaN,19.426283,-99.175603,6,NaN,...,4.80,4.80,4.80,4.70,NaN,2,2,0,0,1.70

In [ ]:
valores_nulos=dfnum.isnull().sum()
valores_nulos

id                                                  0
scrape_id                                           0
host_id                                             0
host_listings_count                                 0
host_total_listings_count                           0
neighbourhood_group_cleansed                    24224
latitude                                            0
longitude                                           0
accommodates                                        0
bathrooms                                       24224
bedrooms                                            0
beds                                                0
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              0
maximum_minimum_nights                              0
minimum_maximum_nights                              0
maximum_maximum_nights                              0
minimum_nights_avg_ntm                              0
maximum_nights_avg_ntm                              0
calendar_updated                                24224
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
review_scores_rating                                0
review_scores_accuracy                              0
review_scores_cleanliness                           0
review_scores_checkin                               0
review_scores_communication                         0
review_scores_location                              0
review_scores_value                                 0
license                                         24224
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                   0
dtype: int64

In [ ]:
#Se utilizo un dropna ya que al hacer la sustitución de variables con promedio seguian apareciendo datos, esto es debido a que los datos de estas columnas estaban en ceros.
dfnum= dfnum.dropna(axis=1, how='all')

In [ ]:
valores_nulos=dfnum.isnull().sum()
valores_nulos

id                                              0
scrape_id                                       0
host_id                                         0
host_listings_count                             0
host_total_listings_count                       0
latitude                                        0
longitude                                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [ ]:
valores_nulos=dfobj.isnull().sum()
valores_nulos

listing_url                   0
last_scraped                  0
source                        0
name                          1
description                 928
neighborhood_overview      9079
picture_url                   0
host_url                      0
host_name                     0
host_since                    0
host_location              5172
host_about                10664
host_response_time         3091
host_response_rate         3091
host_acceptance_rate       2043
host_is_superhost             5
host_thumbnail_url            0
host_picture_url              0
host_neighbourhood        12401
host_verifications            0
host_has_profile_pic          0
host_identity_verified        0
neighbourhood              9079
neighbourhood_cleansed        0
property_type                 0
room_type                     0
bathrooms_text               30
amenities                     0
price                         0
has_availability              0
calendar_last_scraped         0
first_review               3596
last_review                3596
instant_bookable              0
dtype: int64

In [ ]:
#Se utilizará el método ffill, dado que sustituye los valores nulos por valores no nulos hacia adelante
dfobj= dfobj.fillna(method="ffill")

In [ ]:
valores_nulos=dfobj.isnull().sum()
valores_nulos

listing_url               0
last_scraped              0
source                    0
name                      0
description               0
neighborhood_overview     1
picture_url               0
host_url                  0
host_name                 0
host_since                0
host_location             0
host_about                2
host_response_time        0
host_response_rate        0
host_acceptance_rate      2
host_is_superhost         0
host_thumbnail_url        0
host_picture_url          0
host_neighbourhood        0
host_verifications        0
host_has_profile_pic      0
host_identity_verified    0
neighbourhood             1
neighbourhood_cleansed    0
property_type             0
room_type                 0
bathrooms_text            0
amenities                 0
price                     0
has_availability          0
calendar_last_scraped     0
first_review              0
last_review               0
instant_bookable          0
dtype: int64

In [ ]:
#Con el uso de ffill no se eliminaron todos los datos nulos, es por eso que se decidió utilizar bfill sustituye los valores nulos por valores no nulos hacia atrás.
dfobj= dfobj.fillna(method="bfill")

In [ ]:
valores_nulos=dfobj.isnull().sum()
valores_nulos

listing_url               0
last_scraped              0
source                    0
name                      0
description               0
neighborhood_overview     0
picture_url               0
host_url                  0
host_name                 0
host_since                0
host_location             0
host_about                0
host_response_time        0
host_response_rate        0
host_acceptance_rate      0
host_is_superhost         0
host_thumbnail_url        0
host_picture_url          0
host_neighbourhood        0
host_verifications        0
host_has_profile_pic      0
host_identity_verified    0
neighbourhood             0
neighbourhood_cleansed    0
property_type             0
room_type                 0
bathrooms_text            0
amenities                 0
price                     0
has_availability          0
calendar_last_scraped     0
first_review              0
last_review               0
instant_bookable          0
dtype: int64

**Eliminación de outliers con Rango Intercuartílico**

Se utilizo rango intercuantilico ya que te permite encontrar más outliers ya que acota los límites de los datos

In [ ]:
y=dfnum

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido id                                              1.690170e+18
scrape_id                                       2.023033e+13
host_id                                         6.839189e+08
host_listings_count                             2.850000e+01
host_total_listings_count                       3.200000e+01
latitude                                        1.949915e+01
longitude                                      -9.911735e+01
accommodates                                    7.000000e+00
bedrooms                                        3.500000e+00
beds                                            3.500000e+00
minimum_nights                                  3.500000e+00
maximum_nights                                  2.542500e+03
minimum_minimum_nights                          3.500000e+00
maximum_minimum_nights                          6.000000e+00
minimum_maximum_nights                          2.265000e+03
maximum_maximum_nights                          2.265000e+03
minimum_nights_avg_ntm                          5.750000e+00
maximum_nights_avg_ntm                          2.265000e+03
availability_30                                 6.300000e+01
availability_60                                 1.095000e+02
availability_90                                 1.500000e+02
availability_365                                6.740000e+02
number_of_reviews                               1.045000e+02
number_of_reviews_ltm                           4.750000e+01
number_of_reviews_l30d                          5.000000e+00
review_scores_rating                            5.325000e+00
review_scores_accuracy                          5.265000e+00
review_scores_cleanliness                       5.350000e+00
review_scores_checkin                           5.300000e+00
review_scores_communication                     5.300000e+00
review_scores_location                          5.300000e+00
review_scores_value                             5.265000e+00
calculated_host_listings_count                  2.350000e+01
calculated_host_listings_count_entire_homes     1.500000e+01
calculated_host_listings_count_private_rooms    5.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                               4.481250e+00
dtype: float64
Limite inferior permitido id                                             -1.014102e+18
scrape_id                                       2.023033e+13
host_id                                        -3.333808e+08
host_listings_count                            -1.550000e+01
host_total_listings_count                      -1.600000e+01
latitude                                        1.931817e+01
longitude                                      -9.921716e+01
accommodates                                   -1.000000e+00
bedrooms                                       -5.000000e-01
beds                                           -5.000000e-01
minimum_nights                                 -5.000000e-01
maximum_nights                                 -1.237500e+03
minimum_minimum_nights                         -5.000000e-01
maximum_minimum_nights                         -2.000000e+00
minimum_maximum_nights                         -7.750000e+02
maximum_maximum_nights                         -7.750000e+02
minimum_nights_avg_ntm                         -1.850000e+00
maximum_nights_avg_ntm                         -7.750000e+02
availability_30                                -3.300000e+01
availability_60                                -3.050000e+01
availability_90                                -1.800000e+01
availability_365                               -1.740000e+02
number_of_reviews                              -5.950000e+01
number_of_reviews_ltm                          -2.850000e+01
number_of_reviews_l30d                         -3.000000e+00
review_scores_rating                            4.325000e+00
review_scores_accuracy                          4.505000e+00
review_scores_cleanliness                       4.310000e+00
review_scores_checkin                           4.500000e+00
review_scores_communication                     4.500000e+00
review_scores_location                          4.500000e+00
review_scores_value                             4.345000e+00
calculated_host_listings_count                 -1.250000e+01
calculated_host_listings_count_entire_homes    -9.000000e+00
calculated_host_listings_count_private_rooms   -3.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                              -1.808750e+00
dtype: float64

In [ ]:
#Encontramos Outliers del Dataframe
outliers_iqr= dfnum[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,-99.27178,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,5.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
num_iqr= dfnum[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
num_iqr

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2056638,20230329041210,10531228,3.0,7.0,19.353530,-99.162990,3.0,1.0,1.0,...,4.95,5.00,4.95,5.00,4.86,3.0,3.0,0.0,0.0,0.19
1,2072354,20230329041210,16840050,3.0,3.0,19.353580,-99.169480,2.0,1.0,1.0,...,4.88,4.93,5.00,4.95,4.84,2.0,2.0,0.0,0.0,0.54
2,696037,20230329041210,3531879,4.0,4.0,19.441800,-99.184020,6.0,3.0,3.0,...,4.71,4.92,4.92,4.58,4.71,3.0,3.0,0.0,0.0,0.31
3,35797,20230329041210,153786,1.0,1.0,19.382830,NaN,2.0,1.0,1.0,...,4.70,4.80,4.80,4.80,4.70,1.0,1.0,0.0,0.0,1.70
4,44616,20230329041210,196253,16.0,16.0,19.411620,-99.177940,NaN,NaN,NaN,...,4.70,4.87,4.78,4.98,4.48,12.0,3.0,2.0,0.0,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24219,853923589855678923,20230329041210,488030249,3.0,4.0,19.396663,-99.148145,2.0,1.0,1.0,...,4.70,4.80,4.80,4.80,4.70,2.0,2.0,0.0,0.0,1.70
24220,853966732274073000,20230329041210,506816029,1.0,1.0,19.392023,-99.118722,7.0,2.0,3.0,...,4.70,4.80,4.80,4.80,4.70,1.0,1.0,0.0,0.0,1.70
24221,854225071295768399,20230329041210,154670560,1.0,6.0,19.371088,-99.190186,2.0,2.0,1.0,...,4.70,4.80,4.80,4.80,4.70,1.0,0.0,1.0,0.0,1.70
24222,854247693069190865,20230329041210,7799414,13.0,13.0,19.403792,-99.164978,2.0,1.0,1.0,...,4.70,4.80,4.80,4.80,4.70,13.0,13.0,0.0,0.0,1.70
24223,854260329845513725,20230329041210,506864314,2.0,2.0,19.426283,-99.175603,6.0,3.0,3.0,...,4.70,4.80,4.80,4.80,4.70,2.0,2.0,0.0,0.0,1.70

In [ ]:
valores_nulos=num_iqr.isnull().sum()
valores_nulos

id                                                 0
scrape_id                                          0
host_id                                            0
host_listings_count                             3324
host_total_listings_count                       3453
latitude                                        1490
longitude                                       2594
accommodates                                    1090
bedrooms                                         640
beds                                            2347
minimum_nights                                  3195
maximum_nights                                     1
minimum_minimum_nights                          3082
maximum_minimum_nights                          1895
minimum_maximum_nights                             5
maximum_maximum_nights                             6
minimum_nights_avg_ntm                          1929
maximum_nights_avg_ntm                             6
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                               2308
number_of_reviews_ltm                           1519
number_of_reviews_l30d                           784
review_scores_rating                            1588
review_scores_accuracy                          2150
review_scores_cleanliness                       1510
review_scores_checkin                           1226
review_scores_communication                     1498
review_scores_location                          1209
review_scores_value                             1859
calculated_host_listings_count                  3224
calculated_host_listings_count_entire_homes     3444
calculated_host_listings_count_private_rooms    3076
calculated_host_listings_count_shared_rooms      576
reviews_per_month                               1373
dtype: int64

In [ ]:
num_iqr=num_iqr.fillna(round(num_iqr.mean(),1))
num_iqr

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2056638,20230329041210,10531228,3.0,7.0,19.353530,-99.162990,3.0,1.0,1.0,...,4.95,5.00,4.95,5.00,4.86,3.0,3.0,0.0,0.0,0.19
1,2072354,20230329041210,16840050,3.0,3.0,19.353580,-99.169480,2.0,1.0,1.0,...,4.88,4.93,5.00,4.95,4.84,2.0,2.0,0.0,0.0,0.54
2,696037,20230329041210,3531879,4.0,4.0,19.441800,-99.184020,6.0,3.0,3.0,...,4.71,4.92,4.92,4.58,4.71,3.0,3.0,0.0,0.0,0.31
3,35797,20230329041210,153786,1.0,1.0,19.382830,-99.200000,2.0,1.0,1.0,...,4.70,4.80,4.80,4.80,4.70,1.0,1.0,0.0,0.0,1.70
4,44616,20230329041210,196253,16.0,16.0,19.411620,-99.177940,2.9,1.4,1.6,...,4.70,4.87,4.78,4.98,4.48,12.0,3.0,2.0,0.0,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24219,853923589855678923,20230329041210,488030249,3.0,4.0,19.396663,-99.148145,2.0,1.0,1.0,...,4.70,4.80,4.80,4.80,4.70,2.0,2.0,0.0,0.0,1.70
24220,853966732274073000,20230329041210,506816029,1.0,1.0,19.392023,-99.118722,7.0,2.0,3.0,...,4.70,4.80,4.80,4.80,4.70,1.0,1.0,0.0,0.0,1.70
24221,854225071295768399,20230329041210,154670560,1.0,6.0,19.371088,-99.190186,2.0,2.0,1.0,...,4.70,4.80,4.80,4.80,4.70,1.0,0.0,1.0,0.0,1.70
24222,854247693069190865,20230329041210,7799414,13.0,13.0,19.403792,-99.164978,2.0,1.0,1.0,...,4.70,4.80,4.80,4.80,4.70,13.0,13.0,0.0,0.0,1.70
24223,854260329845513725,20230329041210,506864314,2.0,2.0,19.426283,-99.175603,6.0,3.0,3.0,...,4.70,4.80,4.80,4.80,4.70,2.0,2.0,0.0,0.0,1.70

In [ ]:
valores_nulos=num_iqr.isnull().sum()
valores_nulos

id                                              0
scrape_id                                       0
host_id                                         0
host_listings_count                             0
host_total_listings_count                       0
latitude                                        0
longitude                                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [ ]:
df_limpio= pd.concat([num_iqr, dfobj], axis=1)
df_limpio

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,property_type,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,instant_bookable
0,2056638,20230329041210,10531228,3.0,7.0,19.353530,-99.162990,3.0,1.0,1.0,...,Entire loft,Entire home/apt,1.5 baths,"[""Wifi"", ""Hangers"", ""Fire extinguisher"", ""Sham...","$1,434.00",t,2023-03-30,2014-01-03,2018-06-24,f
1,2072354,20230329041210,16840050,3.0,3.0,19.353580,-99.169480,2.0,1.0,1.0,...,Entire guest suite,Entire home/apt,1 bath,"[""Free street parking"", ""Cleaning products"", ""...",$830.00,t,2023-03-30,2014-01-01,2022-11-04,f
2,696037,20230329041210,3531879,4.0,4.0,19.441800,-99.184020,6.0,3.0,3.0,...,Entire rental unit,Entire home/apt,2 baths,"[""Wifi \u2013 38 Mbps"", ""Central air condition...","$1,469.00",t,2023-03-29,2012-10-31,2022-12-21,f
3,35797,20230329041210,153786,1.0,1.0,19.382830,-99.200000,2.0,1.0,1.0,...,Entire villa,Entire home/apt,1 bath,"[""Wifi"", ""Washer"", ""BBQ grill"", ""Indoor firepl...","$3,658.00",t,2023-03-29,2012-10-31,2022-12-21,f
4,44616,20230329041210,196253,16.0,16.0,19.411620,-99.177940,2.9,1.4,1.6,...,Entire home,Entire home/apt,5.5 baths,"[""Free street parking"", ""Security cameras on p...","$18,000.00",t,2023-03-30,2011-11-09,2023-03-26,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24219,853923589855678923,20230329041210,488030249,3.0,4.0,19.396663,-99.148145,2.0,1.0,1.0,...,Entire rental unit,Entire home/apt,1 bath,"[""Smoke alarm"", ""Wifi"", ""Iron"", ""Washer"", ""Sel...",$760.00,t,2023-03-30,2023-03-29,2023-03-29,f
24220,853966732274073000,20230329041210,506816029,1.0,1.0,19.392023,-99.118722,7.0,2.0,3.0,...,Entire rental unit,Entire home/apt,1 bath,"[""Lake access"", ""Ski-in/Ski-out"", ""Wifi"", ""Out...","$1,520.00",t,2023-03-29,2023-03-29,2023-03-29,t
24221,854225071295768399,20230329041210,154670560,1.0,6.0,19.371088,-99.190186,2.0,2.0,1.0,...,Private room in home,Private room,2.5 shared baths,"[""Luggage dropoff allowed"", ""Shared patio or b...",$533.00,t,2023-03-29,2023-03-29,2023-03-29,f
24222,854247693069190865,20230329041210,7799414,13.0,13.0,19.403792,-99.164978,2.0,1.0,1.0,...,Entire rental unit,Entire home/apt,1 bath,"[""Smoke alarm"", ""Free street parking"", ""Condit...","$1,200.00",t,2023-03-30,2023-03-29,2023-03-29,t
24223,854260329845513725,20230329041210,506864314,2.0,2.0,19.426283,-99.175603,6.0,3.0,3.0,...,Entire rental unit,Entire home/apt,1 bath,"[""Long term stays allowed"", ""Cleaning products...","$1,720.00",t,2023-03-30,2023-03-29,2023-03-29,t

In [ ]:
#Convertir DataFrame a CSV
df_limpio.to_csv("DatosMéxico_limpios.csv")

In [ ]:
#descargar archivo filtrado en csv
from google.colab import files 
files.download("DatosMéxico_limpios.csv")